{{ define "main" }}

<div id="hero" class="hero row" style="">
        <div class="hero-child row">
          <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3">
            <h2 tabindex="0">Discoveries</h2>
            <p tabindex="0">See what we're learning lorem ipsum dolor sit amet</p>
          </div>
         </div>
    </div>

<h5>Version 1.0</h5>
<!-- Version 1.0 -->
<!-- Table 1 -->
<table><tr><th class="text-center">Data description</th>
<th colspan="3" class="text-center">Download</th>
<th class="text-center">Documentation</th>
</tr><tr><td>This file contains <strong>district level means in grade equivalent units</strong>. There are multiple observations per district; one for each year, grade and subject.
</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file).dta">Stata</a>
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (separate sheets year and grade).xlsx">Excel</a>
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file).csv">CSV</a>
</td><td rowspan="11" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_achievement.xlsx">Codebook</a><br /></td></tr><tr><td>This file contains <strong>district level means in grade equivalent units</strong>. There are multiple observations per district, one for each subject; values are averaged across years and grades.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade).dta">Stata</a>    
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade).xlsx">Excel</a>    
</td><td>    </td></tr><tr><td>This file contains <strong>district level means in grade equivalent units</strong>. There is one observations per district; values are averaged across years, grades and subjects.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub).xlsx">Excel</a>        
</td><td>    </td></tr><tr><td>This file contains <strong>district level means in constant population standard deviation units</strong>. There are multiple observations per district; one for each year, grade and subject.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (separate sheets year and grade).xlsx">Excel</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file).csv">CSV</a>    </td></tr><tr><td>This file contains <strong>district level means in constant population standard deviation units</strong>. There are multiple observations per district; one for each subject; values are averaged across years and grades.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade).xlsx">Excel</a>    
</td><td>    </td></tr><tr><td>This file contains <strong>district level means in constant population standard deviation units</strong>. There is one observations per district; values are averaged across years, grades and subjects.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub).xlsx">Excel</a>        
</td><td>    </td></tr><tr><td>This file contains <strong>district level means in NAEP-referenced units</strong>. Estimates are comparable between states. There are multiple observations per district; one for each year, grade and subject.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced (separate sheets year and grade).xlsx">Excel</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file).csv">CSV</a>    </td></tr><tr><td>This file contains <strong>district level means in state-referenced units</strong>. Estimates are comparable within states. There are multiple observations per district; one for each year, grade and subject.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced (separate sheets year and grade).xlsx">Excel</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file).csv">CSV</a>    </td></tr><tr><td>This file contains <strong>district level white-black and white-Hispanic achievement gaps</strong>. There are multiple observations per district; one for each year, grade and subject.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (separate sheets year and grade).xlsx">Excel</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file).csv">CSV</a>    </td></tr><tr><td>This file contains <strong>district level white-black and white-Hispanic achievement gaps</strong>. There are multiple observations per district; one for each subject; values are averaged across years and grades.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year and grade).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year and grade).xlsx">Excel</a>        
</td><td>    </td></tr><tr><td>This file contains <strong>district level white-black and white-Hispanic achievement gaps</strong>. There is one observations per district; values are averaged across years, grades and subjects.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub).dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub).xlsx">Excel</a>        
</td><td>    </td></tr><tr><td>This file contains <strong>district level covariates (socioeconomic, demographic, school level data)</strong>. There are multiple observations per district; one for each year and grade.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates by year and grade (long file).dta">Stata</a>        
</td><td>
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates by year and grade (long file).csv">CSV</a>            
</td><td rowspan="3" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_covariates.xlsx">Codebook</a><br /></td></tr><tr><td>This file contains <strong>district level covariates (socioeconomic, demographic, school level data)</strong>. There are multiple observations per district; one for each year.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates by year.dta">Stata</a>        
</td><td>
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates by year.csv">CSV</a>    </td></tr><tr><td>This file contains <strong>district level covariates (socioeconomic, demographic, school level data)</strong>. There is one observation per district.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates.dta">Stata</a>        
</td><td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates.xlsx">Excel</a>        
</td><td>    </td></tr><tr><td>This file contains <strong>a unique school identifier, an identifier indicating its NCES ID (the district to which it legally belongs), and the district in which it is included in our estimates</strong>. There is one observation per school.</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.dta">Stata</a></td>
<td></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv">CSV</a></td>
<td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/SEDA%20data%20construction%20documentation%20v01.docx">Documentation</a><br /></td></tr>
</table></div>


<div id="v1-1" class="content">
<h5>Version 1.1</h5>
<!-- Version 1.1 -->
<p><a href="https://cepa.stanford.edu/sites/default/files/SEDA Technical Documentation Version1_1.pdf">Technical Documentation</a></p>
<table>
    <tr><th colspan="10" class="text-center">Assessment Outcomes: Means and Standard    Errors </th>
</tr><tr><td colspan="4" class="text-center">Data    Description</td>
<td colspan="3" class="text-center">Disaggregated by</td>
<td colspan="2" class="text-center">Download</td>
<td class="text-center">Documentation</td>
</tr><tr><td class="text-center">File Title</td>
<td class="text-center">Description</td>
<td class="text-center">Metric</td>
<td class="text-center">Geographic Level</td>
<td class="text-center">Year</td>
<td class="text-center">Grade</td>
<td class="text-center">Subject</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
</tr><tr><td width="100">MeanA_V1.1</td>
<td width="270">This file  contains <strong>district level means in grade equivalent units</strong>. There are multiple observations per district; one for each    year, grade and subject.</td>
<td>Grade Equivilant Units</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file)_v1_1.csv">CSV</a></td>
<td rowspan="8" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_achievement_v1point1.xlsx">Codebook</a></td>
</tr><tr><td>MeanB_V1.1</td>
<td>This file  contains <strong>district level means in grade equivalent    units</strong>. There are multiple observations per    district, one for each subject; values are averaged across years and grades.</td>
<td>Grade Equivilant Units </td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanC_V1.1</td>
<td>This file  contains <strong>district level means in grade equivalent    units</strong>. There is one observations per district;    values are averaged across years, grades and subjects.</td>
<td>Grade Equivilant Units</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanD_V1.1</td>
<td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There are multiple    observations per district; one for each year, grade and subject.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanE_V1.1</td>
<td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There are multiple    observations per district; one for each subject; values are averaged across    years and grades.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanF_V1.1</td>
<td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There is one    observations per district; values are averaged across years, grades and    subjects.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanG_V1.1</td>
<td>This file  contains <strong>district level means in NAEP-referenced    units</strong>. Estimates are comparable between states.    There are multiple observations per district; one for each year, grade and    subject.</td>
<td>NAEP </td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file)_v1_1.csv">CSV</a></td>
</tr><tr><td>MeanH_V1.1</td>
<td>This file  contains <strong>district level means in state-referenced    units</strong>. Estimates are comparable within states.    There are multiple observations per district; one for each year, grade and    subject.</td>
<td>State Referenced</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file)_v1_1.csv">CSV</a></td>
</tr></table>


<table><tr><th colspan="10" class="text-center">Assessment Outcomes: Achievement Gaps</th>
</tr><tr><td colspan="4" class="text-center">Data    Description </td>
<td colspan="3" class="text-center">Disaggregated by</td>
<td colspan="2" class="text-center">Dowload </td>
<td class="text-center">Documentation</td>
</tr><tr><td class="text-center">File Title</td>
<td class="text-center">Description</td>
<td class="text-center">Metric</td>
<td class="text-center">Geographic Level</td>
<td class="text-center">Year</td>
<td class="text-center">Grade</td>
<td class="text-center">Subject</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
</tr><tr><td width="100">GapA_V1.1</td>
<td width="270">This file  contains <strong>district level white-black and white-Hispanic achievement gaps</strong>. There are multiple observations per district; one for each    year, grade and subject.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file)_v1_1.csv">CSV</a></td>
<td rowspan="3" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_achievement_v1point1.xlsx">Codebook</a></td>
</tr><tr><td>GapB_V1.1</td>
<td>This file  contains <strong>district level white-black and    white-Hispanic achievement gaps</strong>. There are    multiple observations per district; one for each subject; values are averaged    across years and grades.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">x</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district race gaps by subject using metareg_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district race gaps by subject using metareg_v1_1.csv">CSV</a></td>
</tr><tr><td>GapC_V1.1</td>
<td>This file  contains <strong>district level white-black and    white-Hispanic achievement gaps</strong>. There is one    observations per district; values are averaged across years, grades and    subjects.</td>
<td>Standard Deviation Units</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
</tr></table>


<table><tr><th colspan="10" class="text-center">Covariates </th>
</tr><tr><td colspan="4" class="text-center">Data Description </td>
<td colspan="3" class="text-center">Disaggregated by</td>
<td colspan="2" class="text-center">Dowload </td>
<td class="text-center">Documentation</td>
</tr><tr><td class="text-center">File Title</td>
<td class="text-center">Description</td>
<td class="text-center">Metric </td>
<td class="text-center">Geographic Level</td>
<td class="text-center">Year</td>
<td class="text-center">Grade</td>
<td class="text-center">Subject</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
</tr><tr><td width="100">CovA_V1.1</td>
<td width="270">This file  contains <strong>district level covariates (socioeconomic, demographic, school    level data)</strong>. There are multiple observations per    district; one for each year and grade.</td>
<td class="text-center">-</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center">x</td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year by grade covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year by grade covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
<td rowspan="3" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_covariates_v1_v_update.xlsx">Codebook</a></td>
</tr><tr><td>CovB_V1.1</td>
<td>This file  contains <strong>district level covariates (socioeconomic,    demographic, school level data)</strong>. There are    multiple observations per district; one for each year.</td>
<td class="text-center">-</td>
<td>District</td>
<td class="text-center">x</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
</tr><tr><td>CovC_V1.1</td>
<td>This file  contains <strong>district level covariates (socioeconomic,    demographic, school level data)</strong>. There is one    observation per district.</td>
<td class="text-center">-</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
</tr></table>


<table><tr><th colspan="10" class="text-center">Ancillary Files</th>
</tr><tr><td colspan="4" class="text-center">Data Description</td>
<td colspan="3" class="text-center">Disaggregated by</td>
<td colspan="2" class="text-center">Dowload </td>
<td class="text-center">Documentation</td>
</tr><tr><td class="text-center">File Title</td>
<td class="text-center">Description</td>
<td class="text-center">Metric</td>
<td class="text-center">Geographic Level</td>
<td class="text-center">Year</td>
<td class="text-center">Grade</td>
<td class="text-center">Subject</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
</tr><tr><td width="100">AncillaryA_V1.1</td>
<td width="270">This file  contains <strong>a unique school identifier, an identifier indicating its NCES    ID (the district to which it legally belongs), and the district in which it    is included in our estimates</strong>. There is one    observation per school.</td>
<td class="text-center">-</td>
<td>District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.dta">Stata</a></td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv">CSV</a></td>
<td class="text-center"> </td>
</tr><tr><td>AncillaryB_V1.1</td>
<td>This file contains the <strong>shape file</strong> that corresponds to the    district crosswalk. </td>
<td class="text-center">-</td>
<td>National</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/shape file.zip">File</a></td>
<td class="text-center"> </td>
<td class="text-center"> </td>
</tr></table></div>

<!-- Version 2.0 -->

<div id="v2-0" class="content">
<h5>Version 2.0</h5>
<p>        This page contains four sets of files:</p>
<ol><li><a href="#documentation">Technical Documentation and Codebooks</a>
</li><li><a href="#testscore">Test Score Estimates: Means, Standard Deviations, and Achievement Gaps</a>
</li><li><a href="#covariate">Covariate Data Files</a>
</li><li><a href="#ancillary">Ancillary Data Files</a>
</li></ol><p>Errata: The first release of SEDA 2.0 had an error in the pooled gap estimates. The current files incorporate the fix. See the technical documentation for details.<br /><a name="documentation" id="documentation"></a></p>

<table>
    <tr><th colspan="2" class="text-center" style="background:#218cab;color:#fff">Technical Documentation and Codebooks</th>
</tr><tr style="background:#efefef"><td class="text-center"><strong>File Name</strong></td>
<td class="text-center"><strong>Download</strong></td>
</tr><tr></tr><tr><td>SEDA_documentation_v20</td>
<td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/SEDA_documentation_v20b.pdf">PDF</a></td>
</tr><tr><td>SEDA_codebook_geodist_v20</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_geodist_v20.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_county_v20</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_county_v20.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_cov_geodist_v20</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_cov_geodist_v20.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_crosswalk_v20</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_crosswalk_v20.xlsx">Excel</a></td>
</tr>
</table>

<p>        <a name="testscore" id="testscore"></a></p>
<table>
    <tr><th colspan="13" class="text-center" style="background:#218cab;color:#fff">Test Score Estimates: Means, Standard Deviations, and    Achievement Gaps</th>
</tr><tr style="background:#efefef"><td rowspan="3" class="text-center"><strong>File Name</strong></td>
<td rowspan="3" class="text-center"><strong>Form</strong></td>
<td rowspan="3" class="text-center"><strong>Metric</strong></td>
<td colspan="8" class="text-center"><strong>Disaggregated    by</strong></td>
<td colspan="2" rowspan="3" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>Geographic District</strong></td>
<td rowspan="2" class="text-center"><strong>County</strong></td>
<td rowspan="2" class="text-center"><strong>Year</strong></td>
<td rowspan="2" class="text-center"><strong>Grade</strong></td>
<td rowspan="2" class="text-center"><strong>Subject</strong></td>
<td colspan="3" class="text-center"><strong>Group</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>All</strong></td>
<td class="text-center"><strong>Race</strong></td>
<td class="text-center"><strong>Race Gaps</strong></td>
</tr><tr><td>SEDA_geodist_long_CS_v20</td>
<td>Long</td>
<td>CS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_GCS_v20</td>
<td>Long</td>
<td>GCS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_NAEP_v20</td>
<td>Long</td>
<td>NAEP</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_State_v20</td>
<td>Long</td>
<td>State</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_poolsub_CS_v20</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_poolsub_GCS_v20</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v20b.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v20b.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_pool_CS_v20</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_pool_GCS_v20</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v20b.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v20b.csv">CSV</a></td>
</tr><tr style="background:#efefef"><td colspan="11">Download All SEDA V2.0 Geographic District-Level Files</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v20b_dta.zip">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v20b_csv.zip">CSV</a></td>
</tr><tr><td>SEDA_county_long_CS_v20</td>
<td>Long</td>
<td>CS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_GCS_v20</td>
<td>Long</td>
<td>GCS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_NAEP_v20</td>
<td>Long</td>
<td>NAEP</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_State_v20</td>
<td>Long</td>
<td>State</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_poolsub_CS_v20</td>
<td>Pooled</td>
<td>CS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_poolsub_GCS_v20</td>
<td>Pooled</td>
<td>GCS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v20b.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v20b.csv">CSV</a></td>
</tr><tr><td>SEDA_county_pool_CS_v20</td>
<td>Pooled</td>
<td>CS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_county_pool_GCS_v20</td>
<td>Pooled</td>
<td>GCS</td>
<td> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v20b.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v20b.csv">CSV</a></td>
</tr><tr style="background:#efefef"><td colspan="11">Download All SEDA V2.0 County-Level Files</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v20b_dta.zip">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v20b_csv.zip">CSV</a></td>
</tr></table>



<p>Metric:  CS = Cohort Scale; GCS = Grade Scale; NAEP = NAEP Scale; State = State-referenced Scale<br />
Academic Years: 2008/09 – 2014/15<br />
Grades: 3 – 8<br />
Subjects:  Math, ELA<br />
Race: white, black, Hispanic, and Asian<br />
Race Gaps: white-black, white-Hispanic, white-Asian				</p>
<p><a name="covariate" id="covariate"></a></p>


<table><tr><th colspan="7" class="text-center" style="background:#218cab;color:#fff">Covariate Data</th>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
<td rowspan="2" class="text-center"><strong>Form</strong></td>
<td colspan="3" class="text-center"><strong>Disaggregated by</strong></td>
<td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>District</strong></td>
<td class="text-center"><strong>Year</strong></td>
<td class="text-center"><strong>Grade</strong></td>
</tr><tr><td>SEDA_cov_geodist_long_v20</td>
<td class="text-center">Long</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_cov_geodist_poolyr_v20</td>
<td class="text-center">Pooled</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_cov_geodist_pool_v20</td>
<td class="text-center">Pooled</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v20.csv">CSV</a></td>
</tr></table>


<p><a name="ancillary" id="ancillary"></a></p>
<table><tr><th colspan="6" class="text-center" style="background:#218cab;color:#fff">Ancillary Data</th>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
<td colspan="3" class="text-center"><strong>Disaggregated    by</strong></td>
<td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>School</strong></td>
<td class="text-center"><strong>District</strong></td>
<td class="text-center"><strong>Year</strong></td>
</tr><tr><td>SEDA_crosswalk_v20</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.csv">CSV</a></td>
</tr><tr><td>SEDA_shapefiles_v20</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td colspan="2" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_shapefiles_v20.zip">Zip</a></td>
</tr></table></div>


<!-- Version 2.1 -->

<div id="v2-1" class="content active">
<h5>Version 2.1</h5>
<p>        This page contains five sets of files:</p>
<ol><li><a href="#documentation-2-1">Technical Documentation and Codebooks</a>
</li><li><a href="#ny-2-1">Data Files Used in News Articles</a>
</li><li><a href="#testscore-2-1">Test Score Estimates: Means, Standard Deviations, and Achievement Gaps</a>
</li><li><a href="#covariate-2-1">Covariate Data Files</a>
</li><li><a href="#ancillary-2-1">Ancillary Data Files</a>
</li></ol><p><a name="documentation-2-1" id="documentation-2-1"></a></p>

<table><tr><th colspan="2" class="text-center" style="background:#218cab;color:#fff">Technical Documentation and Codebooks</th>
</tr><tr style="background:#efefef"><td class="text-center"><strong>File Name</strong></td>
<td class="text-center"><strong>Download</strong></td>
</tr><tr></tr><tr><td>SEDA_documentation_v21</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_documentation_v21.pdf">PDF</a></td>
</tr><tr><td>SEDA_codebook_geodist_v21</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_geodist_v21.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_county_v21</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_county_v21.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_cov_geodist_v21</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_cov_geodist_v21.xlsx">Excel</a></td>
</tr><tr><td>SEDA_codebook_crosswalk_v21</td>
<td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_crosswalk_v21.xlsx">Excel</a></td>
</tr></table><p> <a name="ny-2-1" id="ny-2-1"></a></p>

<table><tr><th colspan="4" class="text-center" style="background:#218cab;color:#fff">Data Files Used in News Articles</th>
</tr><tr style="background:#efefef"><td class="text-center"><strong>Article and Date</strong></td>
<td class="text-center"><strong>Paper</strong></td>
<td class="text-center" colspan="2"><strong>Data</strong></td>
</tr><tr><td><a href="https://www.nytimes.com/interactive/2018/06/13/upshot/boys-girls-math-reading-tests.html">Where Boys Outperform Girls in Math:<br />
Rich, White and Suburban Districts</a>. <em>New York Times</em>. 6/13/2018</td>
<td><a href="/content/gender-achievement-gaps-us-school-districts">Gender Achievement Gaps in U.S. School Districts</a>. Reardon, S.F., Fahle, E.M., Kalogrides, D., Podolsky, A., &amp; Zárate, R.C. (2018)</td>
<td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/reardon_gender_achievement_gaps_june2018.xlsx">Excel*</a></td>
<td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/reardon_gender_achievement_gaps_june2018.dta">Data</a></td>
</tr><tr><td colspan="4">*Notes about the data are included in the Excel spreadsheet.</td>
</tr></table>


<p>        <a name="testscore-2-1" id="testscore-2-1"></a></p>

<table><tr><th colspan="14" class="text-center" style="background:#218cab;color:#fff">Test Score Estimates: Means, Standard Deviations, and    Achievement Gaps</th>
</tr><tr style="background:#efefef"><td rowspan="3" class="text-center"><strong>File Name</strong></td>
<td rowspan="3" class="text-center"><strong>Form</strong></td>
<td rowspan="3" class="text-center"><strong>Metric</strong></td>
<td colspan="9" class="text-center"><strong>Disaggregated    by</strong></td>
<td colspan="2" rowspan="3" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>Unit</strong></td>
<td rowspan="2" class="text-center"><strong>Year</strong></td>
<td rowspan="2" class="text-center"><strong>Grade</strong></td>
<td rowspan="2" class="text-center"><strong>Subject</strong></td>
<td colspan="3" class="text-center"><strong>Means &amp; SDs</strong></td>
<td colspan="2" class="text-center"><strong>Gaps</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>All</strong></td>
<td class="text-center"><strong>Race</strong></td>
<td class="text-center"><strong>Gender</strong></td>
<td class="text-center"><strong>Race</strong></td>
<td class="text-center"><strong>Gender</strong></td>
</tr><tr><td>SEDA_geodist_long_CS_v21</td>
<td>Long</td>
<td>CS</td>
<td class="text-center">Geographic District</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_GCS_v21</td>
<td>Long</td>
<td>GCS</td>
<td class="text-center">Geographic District</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_NAEP_v21</td>
<td>Long</td>
<td>NAEP</td>
<td class="text-center">Geographic District</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_long_State_v21</td>
<td>Long</td>
<td>State</td>
<td class="text-center">Geographic District</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_poolsub_CS_v21</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">Geographic District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_poolsub_GCS_v21</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">Geographic District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_pool_CS_v21</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">Geographic District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_geodist_pool_GCS_v21</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">Geographic District</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v21.csv">CSV</a></td>
</tr><tr style="background:#efefef"><td colspan="12">Download All SEDA V2.1 Geographic District Files</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v21_dta.zip">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v21_csv.zip">CSV</a></td>
</tr><tr><td>SEDA_county_long_CS_v21</td>
<td>Long</td>
<td>CS</td>
<td class="text-center">County</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_GCS_v21</td>
<td>Long</td>
<td>GCS</td>
<td class="text-center">County</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_NAEP_v21</td>
<td>Long</td>
<td>NAEP</td>
<td class="text-center">County</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_long_State_v21</td>
<td>Long</td>
<td>State</td>
<td class="text-center">County</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_poolsub_CS_v21</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">County</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_poolsub_GCS_v21</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">County</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_pool_CS_v21</td>
<td>Pooled</td>
<td>CS</td>
<td class="text-center">County</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_county_pool_GCS_v21</td>
<td>Pooled</td>
<td>GCS</td>
<td class="text-center">County</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v21.csv">CSV</a></td>
</tr><tr style="background:#efefef"><td colspan="12">Download All SEDA V2.1 County Files</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v21_dta.zip">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v21_csv.zip">CSV</a></td>
</tr></table>


<p>Metric:  CS = Cohort Scale; GCS = Grade Scale; NAEP = NAEP Scale; State = State-referenced Scale<br />
Academic Years: 2008/09 – 2014/15<br />
Grades: 3 – 8<br />
Subjects:  Math, ELA<br />
Race: white, black, Hispanic, and Asian<br />
Race Gaps: white-black, white-Hispanic, white-Asian<br />
Gender: male, female<br />
Gender Gaps: male-female</p>
<p><a name="covariate-2-1" id="covariate-2-1"></a></p>

<table><tr><th colspan="7" class="text-center" style="background:#218cab;color:#fff">Covariate Data</th>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
<td rowspan="2" class="text-center"><strong>Form</strong></td>
<td colspan="3" class="text-center"><strong>Disaggregated by</strong></td>
<td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>District</strong></td>
<td class="text-center"><strong>Year</strong></td>
<td class="text-center"><strong>Grade</strong></td>
</tr><tr><td>SEDA_cov_geodist_long_v21</td>
<td class="text-center">Long</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_cov_geodist_poolyr_v21</td>
<td class="text-center">Pooled</td>
<td class="text-center">X</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_cov_geodist_pool_v21</td>
<td class="text-center">Pooled</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center"> </td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v21.csv">CSV</a></td>
</tr></table><p><a name="ancillary-2-1" id="ancillary-2-1"></a></p>


<table><tr><th colspan="6" class="text-center" style="background:#218cab;color:#fff">Ancillary Data</th>
</tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
<td colspan="3" class="text-center"><strong>Disaggregated    by</strong></td>
<td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
</tr><tr style="background:#efefef"><td class="text-center"><strong>School</strong></td>
<td class="text-center"><strong>District</strong></td>
<td class="text-center"><strong>Year</strong></td>
</tr><tr><td>SEDA_crosswalk_v21</td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v21.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v21.csv">CSV</a></td>
</tr><tr><td>SEDA_shapefiles_v20</td>
<td class="text-center"> </td>
<td class="text-center">X</td>
<td class="text-center"> </td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.dta">Stata</a></td>
<td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.csv">CSV</a></td>
</tr></table></div>
</div>
</div></div>  </div>
    </div>
  
  
  
  
  
  
</div>  
              
{{ end }}