{{ define "main" }}

<div id="hero" class="hero row" style="">
        <div class="hero-child row">
          <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3">
            <h2 tabindex="0">Get the Data</h2>
            <p tabindex="0">Enter your email to download the data used on this site.</p>
          </div>
         </div>
    </div>
<div class="row data-form">
      
            <div class="col-12 col-md-6 offset-md-3 mt-6 mb-12">
                    <p>Enter your email to access the data, and join our email list for notifications when there are data updates.</p>
                <form action="https://evrdhdxdjb.execute-api.us-east-1.amazonaws.com/prod/" method="post" name="get-the-data" class="validate mt-3" target="_blank">
                    <div>
                        <div class="mc-field-group">
                            <label for="email-field" class="sr-only"></label>
                            <input id="email-field" class="form-control px-2" type="email" value="" name="email" required placeholder="{{ .Params.email }}">
                        </div>
                        <div class="mc-field-group input-group my-3 d-flex align-items-center">
                            <input type="checkbox" value="1" name="newsletter" id="newsletter-check">
                            <label class="form-check-label" for="newsletter-check">Subscribe to our newsletter</label>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_8e16f46a586eeb4578fbfe6ba_9c55c12d21" tabindex="-1" value="">
                        </div>
                        <div class="form-footer">
                            <input type="submit" value="GET DATA" name="subscribe" id="mc-embedded-subscribe" class="btn btn-custom px-4">
                        </div>
                    </div>
                </form>
            </div>  
      
    </div>


    {{ end }}    