{{ define "main" }}

<div id="hero" class="hero row" style="">
        <div class="hero-child row">
          <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3 d-flex flex-column align-items-center justify-content-center">
            <h2 tabindex="0">SEDA Data Downloads</h2>
            <p tabindex="0">Publicly available data files, technical documentation and data codebooks</p>
          </div>
         </div>
    </div>
  
<div class="row subnav d-md-none small-tab-nav">

            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Category:
                </button>
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                <ul class="anchor-links dropdown-menu">
                        <li class="nav-item">
                            <a href="#version1" aria-controls="home" role="tab" data-toggle="tab">Version 1.0</a>
                        </li>
                        <li class="nav-item">
                            <a href="#version1-1" aria-controls="profile" role="tab" data-toggle="tab">Version 1.1</a>
                        </li>
                        <li class="nav-item switch-tab">
                            <a href="#version2" aria-controls="profile" role="tab" data-toggle="tab">Version 2.0</a>
                        </li>
                        <li class="nav-item">
                            <a href="#version2-1" aria-controls="profile" role="tab" data-toggle="tab">Version 2.1</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#version3" aria-controls="profile" role="tab" data-toggle="tab">Version 3.0</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#version4" aria-controls="profile" role="tab" data-toggle="tab">Version 4.0</a>
                        </li>
                </ul>
                <!--</div>-->
            </div>
        
</div>
        
<div class="row subnav large-tab-nav d-sm-none d-md-block">
    <ul class="nav nav-tabs col-lg-9 col-xl-8 mx-auto d-sm-none d-md-flex" id="data-dl-tabs" role="tablist">
      
        <li class="nav-item">
            <a class="switch-tab" href="#version1" aria-controls="home" role="tab" data-toggle="tab">Version 1.0</a>
        </li>
        <li class="nav-item">
            <a class="switch-tab" href="#version1-1" aria-controls="profile" role="tab" data-toggle="tab">Version 1.1</a>
        </li>
        <li class="nav-item switch-tab">
            <a class="switch-tab" href="#version2" aria-controls="profile" role="tab" data-toggle="tab">Version 2.0</a>
        </li>
        <li class="nav-item ">
            <a class="switch-tab" href="#version2-1" aria-controls="profile" role="tab" data-toggle="tab">Version 2.1</a>
        </li>
        <li class="nav-item ">
            <a class="switch-tab" href="#version3" aria-controls="profile" role="tab" data-toggle="tab">Version 3.0</a>
        </li>
        <li class="nav-item ">
            <a class="switch-tab active" href="#version4" aria-controls="profile" role="tab" data-toggle="tab">Version 4.0</a>
        </li>
    </ul>
</div>    

  
    <div class="tab-content data-tables">
        
        {{ partial "version1" }}
        {{ partial "version1-1" }}
        {{ partial "version2" }}
        {{ partial "version2-1" }}
        {{ partial "version3" }}
        {{ partial "version4" }}

    </div> <!-- end tab content --> 
  
  


{{ partial "subscribe.html" .}}


{{ end }}