{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
      <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <h2 tabindex="0">{{ .Title }}</h2>
        <p>What the data tells us about the link between affluence and achievement</p>
      </div>
     </div>
</div>
<div class="row crumbs">
    <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-1"><span class="med-blue"><a href="/">HOME</a><span class="crumb-carat"><i class="fas fa-angle-right"></i></span><a href="/discoveries">DISCOVERIES</a><span class="crumb-carat"><i class="fas fa-angle-right"></i></span></span>{{ .Title }}</div>
</div>
<div id="" class="row dyn-article">
    <div class="col-xs-10 offset-xs-1 col-md-4 offset-md-1">
        {{ .Content | markdownify }}
    </div>
    <div class="col-10 offset-1 col-md-6 offset-md-0 column-scatterplot">
      <div class="plot-parent">
        <div class="title"></div>
        <div class="subtitle"></div>
        <div class="rectangle" style="">
          <div id="scatterplot"></div>
        </div>
        <div class="search-component" id="searchComponent" style=""></div>
      </div>
    </div>
</div>


{{ end }}
