{{ define "main" }}

<div id="hero" class="hero hero--data-table row">
  {{ partial "data-table" }}
  <div class="hero-child row align-items-center">
    <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3">
      <h2 style="opacity: 0">What's new</h2>
      <p style="opacity: 0">Explore more, updated data at your fingertips in our latest release.</p>
    </div>
  </div>
</div>

<div class="row subnav d-md-none small-tab-nav">

  <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Category:
      </button>
      <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
      <ul class="anchor-links dropdown-menu">

              <li class="nav-item">
                  <a href="#version4" aria-controls="home">Version 4.0</a>
              </li>
              <li class="nav-item active">
                  <a href="#version4-1" aria-controls="profile">Version 4.1</a>
              </li>
              <li class="nav-item active">
                <a>Version 4.2 (Coming Soon)</a>
            </li>
      </ul>
      <!--</div>-->
  </div>

</div>

<div class="row subnav large-tab-nav d-sm-none d-md-block">
  <ul class="nav nav-tabs col-lg-9 col-xl-8 mx-auto d-sm-none d-md-flex" role="tablist">

    <li class="nav-item ">
      <a href="#version-4" aria-controls="home">Version 4.0</a>
    </li>
    <li class="nav-item ">
      <a href="#version-4-1" aria-controls="profile">Version 4.1</a>
    </li>
    <li class="nav-item ">
      <a>Version 4.2 (Coming Soon)</a>
    </li>
  </ul>
</div>    


<div id="page-content">
  <div class="py-5 py-md-10 px-4 px-md-0" id="version-4-1">
    <div class="container-xxl">
      <h3 class="whats-new-text1 mb-3 offet-0 offset-md-1" style="opacity: 0">What's new in 4.1?</h3>
      <div class="d-flex flex-column-reverse flex-md-row align-items-start" >
        <div id="" class="whats-new-text1 col col-md-5 px-0 pr-md-7 pr-lg-14 offset-md-1">
          <p>SEDA 4.1 Features:</p>
          <ul class="pl-2">
            <li>More data for Native American students.</li>
            <li>Estimates for Bureau of Indian Education (BIE) schools.</li>
            <li>A new data discovery about BIE schools and Native American students.</li>
            <li>*Coming soon in the summer of 2021: Data for the 2018-2019 school year and Math scores for Puerto Rico.</li>
          </ul>
          <div class="w-100 all-explorations mt-5 d-flex justify-content-center justify-content-md-start">
            <a class="btn btn-custom2 py-2 px-4 gta-event-CTAClick" href="{{ "/get-the-data/" | absURL }}" aria-label="Get the data">GET THE DATA</a>
          </div>
        </div>
        <!-- <img alt="Graphic showing overview of data tables in version 4.1" id="whats-new-img1" style="opacity: 0" class="col col-md-5 px-0 mb-4 mb-md-0 whats-new-animate" src="/images/data-table4.jpg" /> -->
      </div>
    </div>
  </div>
  <div class="py-5 py-md-10 px-4 px-md-0 bg-accent" id="version-4">
    <div class="container-xxl">
      <h3 class="whats-new-text1 mb-3 offet-0 offset-md-1" style="opacity: 0">SEDA 4.0 Features</h3>
      <div class="d-flex flex-column-reverse flex-md-row align-items-start" >
        <div id="" class="whats-new-text1 col col-md-5 px-0 pr-md-7 pr-lg-14 offset-md-1">
          <p>Version 4.0 of SEDA is updated with better estimates and cleaner data. New features allow you to access:</p>
          <ul class="pl-2">
            <li>Data for 2016-2017 and 2017-2018 school years.</li>
            <li>New crosswalk with stable school, district, and county IDs.</li>
            <li>Insights and learning: see our <a  href="/discoveries/">latest discoveries.</a></li>
          </ul>
          <!-- <div class="w-100 all-explorations mt-5 d-flex justify-content-center justify-content-md-start">
            <a class="btn btn-custom2 py-2 px-4 gta-event-CTAClick" href="{{ "/get-the-data/" | absURL }}" aria-label="Get the data">GET THE DATA</a>
          </div> -->
        </div>
        <img alt="Graphic showing overview of data tables in version 4.0" id="whats-new-img1" style="opacity: 0" class="col col-md-5 px-0 mb-4 mb-md-0 whats-new-animate" src="/images/data-table4.jpg" />
      </div>
    </div>
  </div>
  <div class="py-5 py-md-9 px-4 px-md-0">
    <div class="container-xxl">
      <h3 class="whats-new-text2 mb-4 mb-md-9 col col-md-4 mx-auto text-center">New features in the Educational Opportunity Explorer</h3>
      <div class="d-flex flex-column-reverse flex-md-row align-items-start" >
        <div class="whats-new-text3 col col-md-5 px-0 pr-md-7 pr-xl-14 offset-md-1">
          <h5 class="mb-4 col col-md-8 px-0">Refine your view of the data with new filtering options</h5>
          <p class="mb-2">In our new Explorer interface, you can:</p>
          <ul class="mb-0 pl-2">
            <!--<li>Filter estimates by:
              <ul class="pb-2 pb-lg-0">
                <li>School, district, and county size </li>
                <li>Ranges within key metrics: average test scores, learning rates, and trend in test scores</li>
                <li>Socioeconomic status and percent qualifying for free or reduced priced lunch (FRPL) ranges</li>
              </ul>
            </li>-->
            <li class="pb-2">Filter estimates by: school, district, and county size; ranges within key metrics (average test scores, learning rates, and trend in test scores); and ranges for socioeconomic status and percent qualifying for free or reduced priced lunch (FRPL).
            </li>
            <li class="pb-2">Select all schools in a particular district. For example, <a class="" href="/explorer/#/map/none/districts/avg/ses/i/12/40.71/-73.79/">view estimates for all schools in New York City Public Schools.</a></li>
            </li>
            <!--<li>Select schools by characteristic:
              <ul class="mb-0 pl-2">
                <li>Area: rural, town, suburban, and urban schools.</li>
                <li>School type: public, charter, and magnet schools.</li>
                <li>School age group: middle, elementary, and combined.</li>
              </ul>
            </li>-->
            <li>Select schools by characteristic: area (rural, town, suburban, and urban schools); school type (public, charter, and magnet schools); school age group (middle, elementary, and combined).</li>
          </ul>
        </div>
        <img id="whats-new-img2" class="col col-md-5 px-0 mb-4 mb-md-0 left-shadow" src="/images/filters-img.jpg" alt="Graphic showing filtering controls in the Explorer" />
      </div>
    </div>
  </div>
  <div class="py-5 py-md-9 px-4 px-md-0 bg-accent">
    <div class="container-xxl">
      <h3 class="whats-new-text4 col col-lg-3 mb-2 mx-auto text-center">View and compare locations in new ways</h3>
      <p class=" whats-new-text4 mb-5 px-0 col col-md-4 mx-auto text-center">We’ve refined the location data panel to provide a clearer view of statistics at a glance (and have added U.S. states as new location types to explore).  You can also compare several locations’ data together in a revised table display.</p>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center" >
        <img id="whats-new-img3" class="col col-md-4 px-0 mb-4 mb-md-0 mr-0 mr-md-8 left-shadow" src="/images/location_panel1-2.jpg" alt="Graphic showing the location panel in the Explorer" />
        <img id="whats-new-img4" class="col col-md-4 px-0 mb-4 mb-md-0 left-shadow" src="/images/location_panel2.jpg" alt="Graphic showing the location comparison table in the Explorer" />
      </div>
    </div>
  </div>
  <div class="py-5 py-md-9 px-4 px-md-0 d-none">
    <div class="container-xxl">
      <div class="d-flex flex-column-reverse flex-md-row align-items-center" >
        <div class="col col-md-5 px-0 pr-md-7 pr-lg-14 offset-md-1">
          <h5 class="mb-4 col col-md-8 px-0">State-level views, margins of error, & more</h5>
          <p>Among the many other new features in the Explorer, we’ve added states to the list of geographies you can explore, margins of error for each place’s data, and even more powerful and intuitive controls—all within a completely redesigned interface.</p>
        </div>
        <img class="col col-md-5 px-0 mb-4 mb-md-0 left-shadow" src="/images/new-layout.png" />
      </div>
    </div>
  </div>
  <div class="row map-invite map-invite-4 m-0 px-4 py-6 py-lg-9 py-xl-10">
    <div class="scatterplot col-12 col-mm-8 px-0 py-8 px-md-10 py-md-10 offset-mm-2">
        <h3 class="color-tertiary mb-3 mb-xl-4" id="ready_to_start">Ready to start exploring?</h3>
        <a class="btn btn-custom go-btn gta-event-CTAClick" href="/explorer/" aria-label="View charts and maps" aria-describedby="ready_to_start ready_to_start_p">Click here to access SEDA 4.0</a>
    </div>
  </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}
