// Any additional a11y-related rules.
// Load this last or close to last.

@media (prefers-reduced-motion: reduce) {

  #avg-graphic,
  #growth-graphic,
  #trendgraphic {
    opacity: 1 !important;
  }

  #avg-graphic svg,
  #growth-graphic svg,
  #trendgraphic svg {
    opacity: 0 !important;
    display: none;
  }

  #avg-graphic img,
  #growth-graphic img,
  #trendgraphic img {
    opacity: 1 !important;
  }

  #growth-graphic.move,
  #avg-graphic.move,
  #trendgraphic.move {
    transition: none !important;
  }

  #growth-graphic img.svg-static.d-md-none,
  #avg-graphic img.svg-static.d-md-none,
  #trendgraphic img.svg-static.d-md-none {
    display: block !important;
  }

  .hero-animate {
    opacity: 1 !important;
  }

  #hero .svg-animated {
    opacity: 1 !important;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
