.data-tables {
    a {
        text-decoration: underline;
    }
    th {
        padding: 1.6rem 0;
        background-color: #061d56;
        color: white;
    }
}

.data-form input[type=checkbox] {
    margin-right: 16px;
}
.data-form {
    input.form-control {
        height: 48px;
        font-family: "SharpGrotesk-Medium15", "Lato", "Helvetica Neue", Arial, sans-serif, -apple-system;
        text-transform: uppercase;
        text-align: left;
    }
}

input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #efefef;
    box-shadow: none;
    display: inline-block;
    position: relative;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 20px;
    border: solid $seda-red;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    margin: auto
}

input[type=checkbox]:focus {
    outline: 0;
   // box-shadow: 0 0 5px 1px #e24000;
   // border-color: #e24000
}