body.type-explorations {
    .hero {
        background: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%);
        // background-image: url('/images/about-plot-2x.png'); /* fallback */
        // background-image: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%), url('/images/about-plot-2x.png');
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-position: 0 bottom;
        background-size: 120%;
        height: 336px;
        margin-top: -6.4rem;
        margin-right: 0;
        margin-left: 0;
        @include media-breakpoint-up(md) {
          height: 448px;
          // background-size: 120% 80%;
          // background-position: -400px 10%;
        }
        @include media-breakpoint-up(xl) {
          // background-size: 2200px 478px;
          // background-position: -400px 10%;
        }
        
        
        .hero-child {
          width: 100%;
          height: 100%;
          margin-right: 0;
          margin-left: 0;
          background: url('/images/heroes/explorations-plot.svg');
          background-repeat: no-repeat;
          background-size: 92%;
          background-position: center 70%;
          @include media-breakpoint-up(md) {
            background-size: 68%;
            background-position: center;
          }
          @include media-breakpoint-up(xl) {
            background-size: 76%;
            background-position: center;
          }
          .column {
            margin-top: 13.2rem;
            margin-bottom: 9.6rem;
            text-align: center;
            color: $white;
            @include media-breakpoint-up(md) {
              margin-top: 15.2rem;
            }
            @include media-breakpoint-up(lg) {
              margin-top: 16rem;
            }
            h2 {
              font-family: $sharpgrotesk-med-20;
              font-size: 2.6rem;
              line-height: 2.55rem;
              letter-spacing: .013rem;
              margin-bottom: 1.6rem;
              @include media-breakpoint-up(md) {
                font-size: 2.8rem;
                line-height: 4.3rem;
                letter-spacing: .014rem;
              }
              @include media-breakpoint-up(lg) {
                font-size: 3.6rem;
                line-height: 5.4rem;
                letter-spacing: .018rem;
              }
            }
            p {
              font-family: $maisonneue-book;
              font-size: 1.3rem;
              line-height: 2rem;
              letter-spacing: 0;
              @include media-breakpoint-up(md) {
                font-size: 1.8rem;
                line-height: 2.5rem;
                letter-spacing: auto;
              }
              @include media-breakpoint-up(lg) {
                font-size: 2.3rem;
                line-height: 3.45rem;
                letter-spacing: auto;
              }
            }
          }
        }
      }
}