html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

// Custom gutter widths
@include media-breakpoint-up(xs) {
  .row {
    margin-left: 12px;
    margin-right: 12px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 12px;
    padding-right: 12px;
  }
  // nav.navbar {
  //   margin: 0 12px;
  //
  // }
  nav.navbar > div {
    padding: 0 24px;
  }
}

@include media-breakpoint-up(lg) {
  .row {
    margin-left: 16px;
    margin-right: 16px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 16px;
    padding-right: 16px;
  }
  // nav.navbar {
  //   margin: 0 16px;
  // }
  nav.navbar > div {
    padding: 0 32px;
  }
}

@include media-breakpoint-up(xl) {
  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 20px;
    padding-right: 20px;
  }
  // nav.navbar {
  //   margin: 0 20px;
  // }
  nav.navbar > div {
    padding: 0 20px;
  }
}

// Basic fonts and text styles
h1 {
  font-family: $sharpgrotesk-med-20;
}

h2,
div.h2,
h3,
h4,
h5,
nav a {
  font-family: $sharpgrotesk-med-20;
}

h2,
div.h2 {

}

h3 {
  font-family: $sharpgrotesk-med-20;
  font-size: 2.4rem;
}

// Page container
.container.parent {
  padding-right: 0;
  padding-left: 0;
}

//
// General custom elements
//
// Sticky top fix for safari
.sticky-top {
  @supports (position: sticky) or (position: -webkit-sticky) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-child {
  flex: 0 1 auto;
}

.one-third {
  max-width: 33%;
}

.two-thirds {
  max-width: 66%;
}

.alt-bg {
  background: #f6f9f9;
}

// Color classes

.colorblue {
  color: $seda-buttonblue;
}
.colorred {
  color: $seda-red;
}
.colornavy {
  color: $seda-navy;
}
.colormidblue {
  color: #103698;
  //font-style: italic;
}

// Custom button style
.btn-custom {
  display: inline-block;
  font-family: $sharpgrotesk-med-15;
  font-size: 1.4rem;
  letter-spacing: .064rem;
  line-height: 4.4rem;
  background-color: $seda-red;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  width: 176px;
  height: 48px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:active,
  &:hover,
  &:focus {
    background-color: darken($seda-red, 15%);
    color: $white;
  }
  svg.fa-external-link-square-alt {
    width: 13px;
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
}

// Custom button style
.btn-dark {
  display: inline-block;
  font-family: $sharpgrotesk-med-15;
  font-size: 1.4rem;
  letter-spacing: .064rem;
  line-height: 4.4rem;
  background-color: $seda-dark;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  width: 176px;
  height: 48px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:active,
  &:hover,
  &:focus {
    background-color: lighten($seda-dark, 15%);
    color: $white;
  }
}

input.form-control {
  height: 48px;
  font-family: $sharpgrotesk-med-15;
  text-transform: uppercase;
  text-align: center;
}

.container.parent > #main > .row {
  margin-right: 0;
  margin-left: 0;
}

// Header
nav.navbar-light {
  height: 6.4rem;
  background-color: transparent; // $seda-dark;
  transition: background-color .2s ease;
  padding-right: 0;
  padding-left: 0;
  // opacity: 0;

  .navbar-brand {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-image: url("/images/logo.svg");
    //height: 33px;
    width: 189px;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 2px;
  }
 
  &.sticky-top {
    background-color: $seda-dark;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
    transition: background-color .2s ease;
    animation: slide-down .2s;
    @keyframes slide-down {
      0% {
      transform: translateY(-64px);
      }
      100% {
        transform: translateY(0px);
      }

    }

    .navbar-brand {
      animation: opacity-fill .3s;
      background-image: url("/images/logo2.svg");
      @keyframes opacity-fill {
        /* You could think of as "step 1" */
        0% {
          opacity: 0;
        }
        /* You could think of as "step 2" */
        100% {
          opacity: 1;
        }
      }
    //height: 33px;
    width: 189px;
    background-size: 100%;
    }
    .drawer-toggle {
      .navbar-toggler-icon {
        background-image: url('/images/menu2.svg');
        animation: opacity-fill .3s;
        @keyframes opacity-fill {
          /* You could think of as "step 1" */
          0% {
            opacity: 0;
          }
          /* You could think of as "step 2" */
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

 

  .drawer-toggle {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    color: $white;
    text-align: right;
    padding-right: 0;
    .navbar-toggler-icon {
      background-image: url('/images/menu.svg');
      background-repeat: no-repeat;
      height: 38px;
      width: 33px;
    }
  }

  &.scroll-top {
    @include media-breakpoint-up(md) {
      nav.navbar {
        // .navbar-brand {
        //   background-image: none;
        // }
        background-color: transparent !important;
      }

      // .nav-link {
      //   color: #fff;
      //
      //   &:hover {
      //     color: #fff;
      //   }
      // }
    }
  }
}

// Drawer for nav
/* The side navigation menu */
.drawer {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  background-color: $white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-right: -320px;
  text-align: center;

  @include media-breakpoint-up(mm) {
    text-align: left;
    padding-left: 4.8rem;

    .social {

    }
  }

  &.show {
    margin-right: 0;
  }

  .closebtn {
    background-image: url(/images/close.svg);
    background-repeat: no-repeat;
    height: 41px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 16px;
    margin-left: 50px;
    border: 0;
    background-color: transparent;
  }

  .navlinks {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;

    a {
      // padding: 8px 8px 8px 32px;
      padding: 0;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
      font-family: $sharpgrotesk-med-15;
      font-size: 2.4rem;
      line-height: 2.0rem;
      letter-spacing: .011rem;
      color: $seda-dark;
      text-transform: uppercase;
      margin-bottom: 3.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social {
    .social-icon {
      font-size: 2.4rem;
      padding-right: 1.2rem;
    }
  }
}

button.navbar-toggler {
  border: 0;
}

// Breadcrumbs
.breadcrumb-parent {
  margin-top: 3.6rem;

  .breadcrumb {
    // font-family: $brandongrotesque-med;
    font-size: 1.8rem;
    // color: $dnd-darkgreen;
    text-decoration: none;
    padding-left: 3.6rem;
    padding-top: 0;

    a,
    .sep {
      // color: $dnd-lightgray;
      text-decoration: none;
    }

    .sep {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }
  }
}

// Breaker image for single content pages
.row.breaker {
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5.6rem 0;
}

// Float image
img {
  &.float-right {
    margin-left: 3.2rem;
  }
  &.float-left {
    margin-right: 3.2rem;
  }
}

// Subnav

.subnav {
  height: 4.8rem;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 64px;
  display: flex;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  z-index: 2;
  @include media-breakpoint-up(md) {
    height: 6.4rem;
    position: sticky;
    top: 64px;
  }
  &.d-md-none {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E9EAED;
    margin-left: -16px;
    margin-right: -16px;
    .dropdown {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .dropdown-toggle {
      width: 100%;
      font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.055rem;
        text-transform: uppercase;
        font-family: $sharpgrotesk-med-15;
        border: none;
        height: 4.7rem;
        background-color: #fff;
    }
    ul {
      border: none;
      width: 100%;
      text-align: center;
      padding: 1.6rem 0;
      z-index: 2;
      height: auto;
      &.show {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
      }
      li {
        display: block;
        margin-bottom: 1.6rem;
      }
    }
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    justify-content: space-between;
    border-bottom: 2px solid #E9EAED;
    height: 100%;
    li {
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: 0.055rem;
      text-transform: uppercase;
      font-family: $sharpgrotesk-med-15;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: 0.064rem;
        margin-top: 4px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.8rem;
        line-height: 3.818rem;
        letter-spacing: 0.07rem;
      }
      a {
        cursor: pointer;
        &.highlight {
          @include media-breakpoint-up(md) {
            border-bottom: 4px solid #04143C;
            margin-top: 22px;
            padding-bottom: 19px;
        }
          @include media-breakpoint-up(lg) {
            margin-top: 10px;
            padding-bottom: 7px;
          }
         }
      }
    }
  }
}

// Shadow effect
.drop-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .20);
}
.drop-shadow-left {
  box-shadow: -2px 0px 5px rgba(0,0,0,.20);
}

// Hero
body.home {
  .hero {
    height: 100vh;
    margin-top: -6.4rem;
    background: linear-gradient(to bottom, rgba(6, 29, 86, 100%) 5%, rgba(4, 20, 60, 100%) 75%);
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-child {
      height: 100vh;
      // background: url('/images/usa_counties_large_white_outline.png');
      background: url('/images/map-counties-3-996.png');
      background-repeat: no-repeat;
      background-position: center 9.7rem;
      background-size: 290px 195px;
    
      #hero-overlay {
        background-color: #00113a75;
      }

      @include media-breakpoint-up(sm) {
        // background-size: 531px 357px;
        background-size: 320px 215px;
        background-position: center 7rem;
      }

      @include media-breakpoint-up(mm) {
        // background-size: 531px 357px;
        background-size: 512px 344px;
        background-position: center 7rem;
      }

      @include media-breakpoint-up(md) {
        // background-size: 531px 357px;
        background-size: 704px 473px;
        background-position: center 9.2rem;
      }

      @include media-breakpoint-up(lg) {
        // background-size: 686px 461px;
        background-size: 928px 624px;
        background-size: 996px auto;
        // background-position: center 7.7rem;
        background-position: center 11.2rem;
      }

      @include media-breakpoint-up(xl) {
        background-size: 996px 670px;
        background-position: center 11.2rem;
      }

      .column {
        h2 {
          font-family: $sharpgrotesk-med-20;
          color: $white;
          font-size: 1.7rem;
          line-height: 2.4rem;
          letter-spacing: .009rem;
          margin-top: 65%;
  
          @include media-breakpoint-up(sm) {
            font-size: 2.88rem;
            line-height: 4.32rem;
            letter-spacing: .014rem;
            margin-top: 65%;
          }

          @include media-breakpoint-up(mm) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
            margin-top: 55%;
          }

          @include media-breakpoint-up(md) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
            margin-top: 45%;
          }

          @include media-breakpoint-up(lg) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
            margin-top: 40vh;
          }

          @include media-breakpoint-up(xl) {
            font-size: 4.3rem;
            line-height: 6.45rem;
            letter-spacing: .022rem;
            margin-top: 28vh;
          }


        }

        p {
          font-family: $maisonneue-book;
          color: $white;
          font-size: 1.3rem;
          line-height: 2.0rem;
          margin-top: 3.2rem;

          @include media-breakpoint-up(sm) {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }

          @include media-breakpoint-up(md) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-top: 3.2rem;
          }

          @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-top: 1.6rem;
            margin-bottom: 3.2rem;
          }

          @include media-breakpoint-up(xl) {
            font-size: 2.0rem;
            line-height: 3.0rem;
            margin-top: 3.2rem;
          }
        }

        a.btn {
          margin-top: 4rem;
        }
      }
    }
  }

  #main {
    background-color: $white;
    // overflow-x: hidden;
  }
}

// Subscribe row
.row {
  &.subscribe {
    text-align: center;
    background-color: $seda-lightblue;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    h3 {
      margin-bottom: 3.2rem;
      font-face: $sharpgrotesk-med-20;
      font-size: 1.7rem;
      line-height: 2.8rem;
      letter-spacing: .028rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: .03rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.7rem;
        line-height: 2.8rem;
        letter-spacing: .028rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.4rem;
        line-height: 3.0rem;
        letter-spacing: .03rem;
      }

      @include media-breakpoint-up(xl) {
        // margin-bottom: 3.2rem;
        // font-face: $sharpgrotesk-med-20;
        font-size: 2.8rem;
        line-height: 4.2rem;
        letter-spacing: .03rem;
      }
    }

    button {
      background-color: $seda-dark;
      color: white;
      font-face: $sharpgrotesk-med-15;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: .064rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.row {
  .some-things-to-know {

  }
}

.row {
  &.fact {
    text-align: left;
    background-color: $seda-lightgray; // $seda-paleblue;
    &:nth-child(odd) {
      background-color: transparent;
    }

    &.some-things-to-know {
      text-align: center;
      font-family: $sharpgrotesk-med-20;
      padding: 3.2rem 0;
      h3 {
        font-size: 1.7rem;
        line-height: 2.7rem;
        letter-spacing: .08rem;
      }
      @include media-breakpoint-up(sm) {
        padding: 4.8rem 0;
      }
      @include media-breakpoint-up(md) {
        // padding: 8.0rem 0;
        h3 {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
      }
      @include media-breakpoint-up(lg) {
        h3 {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
      }
      @include media-breakpoint-up(xl) {
        padding: 8.0rem 0;
        h3 {
          font-size: 2.8rem;
          line-height: 4.2rem;
          letter-spacing: .03rem;
        }

      }
    }
    &.fact-1,
    &.fact-2,
    &.fact-3 {
      padding: 3.2rem 0 4rem;
      h4 {
        font-size: 1.7rem;
        line-height: 2.9rem;
        // letter-spacing: .03rem;
      }
      p {
        font-family: $maisonneue-book;
        font-size: 1.3rem;
        line-height: 2.0rem;
      }
      @include media-breakpoint-up(md) {
        padding: 9.6rem 0;
        h4 {
          font-size: 1.85rem;
          line-height: 2.7rem;
          // letter-spacing: .03rem;
        }
        p {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
      @include media-breakpoint-up(lg) {
        // padding: 8.0rem 0;
        h4 {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
        p {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      @include media-breakpoint-up(xl) {
        // padding: 8.0rem 0;
        h4 {
          font-size: 2.8rem;
          line-height: 4.2rem;
          letter-spacing: .03rem;
        }
        p {
          font-size: 1.9rem;
          line-height: 2.8rem;
        }
      }
    }
    &.fact-1 {

    }
    &.fact-2 {

      @include media-breakpoint-down(mm) {
        flex-direction: column-reverse;
      }

    }
    &.fact-3 {

    }
  }
}

.row {
  &.map-invite {
    background-color: $seda-navy;
    background-image: url('/images/scatterplot.svg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
    height: 335px;

    .scatterplot {
      // background-image: url('/images/scatterplot.svg');
      // background-size: 85%;
      text-align: center;
      color: $white;
      padding-top: 6.4rem;
      padding-bottom: 6.4rem;

      p {
        font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: .02rem;

        @include media-breakpoint-up(md) {
          font-size: 1.85rem;
          line-height: 2.7rem;
          letter-spacing: auto;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .003rem;
        }
        @include media-breakpoint-up(xl) {
          font-size: 2.8rem;
          line-height: 4.2rem;
          letter-spacing: .003rem;
        }
      }
      button {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
      }
      a {
        display: block;
        color: $white;
        font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        letter-spacing: .055rem;
        text-transform: uppercase;

        &:after {
          content: "";
          background-image: url('/images/down-arrow.svg');
          display: inline-block;
          width: 20px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: bottom;
        }

        &:hover {
          text-decoration: underline;
          // color: $seda-dark;
        }
      }

      @include media-breakpoint-up(md) {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 8.0rem;
        padding-bottom: 8.0rem;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 10.2rem;
        padding-bottom: 10.2rem;
      }
    }

    @include media-breakpoint-up(md) {
      // height: 336px;

    }

    @include media-breakpoint-up(lg) {
      height: 416px;
    }

    @include media-breakpoint-up(xl) {
      height: 496px;
    }
  }
}

.row {
  &.latest-explorations {
    background-color: $seda-paleblue;

    .heading {
      padding-top: 9.6rem;
      padding-bottom: 3.2rem;
      text-align: center;
      order: 1;
    }
    .card-container {
      // padding-top: 15px;
      // padding-bottom: 8rem;
      &:nth-of-type(3) {
        order: 2;
      }
      &:nth-of-type(2){
        order: 3;
      }
      .card {
        padding: 2.4rem;
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;

        @include media-breakpoint-up(md) {

        }

        @include media-breakpoint-up(lg) {
          padding: 4.8rem;
        }

        .img-thumbnail {
          width: 84px;
          height: 80px;
          padding: 0;
          background-color: #ffffff;
          border: none;
          border-radius: 0.25rem;
          // max-width: 100%;
          // height: auto;
        }

        .card-body {
          padding: 0;

          .card-title {
            font-family: $sharpgrotesk-med-20;
            font-size: 1.7rem;
            line-height: 2.8rem;
            letter-spacing: .009rem;
            margin-top: 1.8rem;
            // margin-bottom: 2rem;

            @include media-breakpoint-up(md) {
              font-size: 1.85rem;
              line-height: 2.7rem;
              letter-spacing: .009rem;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 3.2rem;
              font-size: 2.3rem;
              line-height: 3.4rem;
              letter-spacing: .012rem;
            }
          }

          hr {
            margin-top: 0;
            margin-bottom: 0;
          }

          .card-subtitle {
            display: block;
            font-family: $maisonneue-book;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: 0;
            margin-top: 1.6rem;
            color: $seda-dark;

            @include media-breakpoint-up(md) {
              font-size: 1.6rem;
              line-height: 2.5rem;
              letter-spacing: 0;
            }

            @include media-breakpoint-up(lg) {
              // margin-top: 3.2rem;
              // font-size: 2.3rem;
              // line-height: 3.4rem;
              // letter-spacing: .012rem;
            }
          }

          .card-text {
            font-family: $maisonneue-book;
            font-size: 1.3rem;
            line-height: 2rem;
            letter-spacing: 0;
            margin-top: 1.8rem;
            margin-bottom: 2rem;
            color: $seda-gray;

            @include media-breakpoint-up(md) {
              margin-top: 2rem;
              margin-bottom: 2rem;
              font-size: 1.6rem;
              line-height: 2.5rem;
              letter-spacing: 0;
            }

            @include media-breakpoint-up(lg) {
              // margin-top: 3.2rem;
              // font-size: 2.3rem;
              // line-height: 3.4rem;
              // letter-spacing: .012rem;
            }
          }
        }
      }
    }
    .all-explorations {
      padding-top: 3.2rem;
      padding-bottom: 9.6rem;
      text-align: center;
      font-family: $sharpgrotesk-med-15;
      font-size: 1.2rem;
      letter-spacing: .055rem;
      text-transform: uppercase;
      order: 4;

      a {
        &:hover {
          text-decoration: underline;
          color: $seda-dark;
        }
      }

      @include media-breakpoint-up(md) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: .064rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.7rem;
        line-height: 2.0rem;
        letter-spacing: .078rem;
      }

      &:after {
        content: "";
        background-image: url('/images/right-arrow.svg');
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: bottom;
      }

      // span.right-arrow {
      //   background-image: url('/images/right-arrow.svg');
      // }
    }
  }
}




// About page
body.about {
  .hero {
    background: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%);
    // background-image: url('/images/about-plot-2x.png'); /* fallback */
    // background-image: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%), url('/images/about-plot-2x.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 120%;
    height: 336px;
    margin-top: -6.4rem;
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-up(md) {
      height: 448px;
      // background-size: 120% 80%;
      // background-position: -400px 10%;
    }
    @include media-breakpoint-up(xl) {
      // background-size: 2200px 478px;
      // background-position: -400px 10%;
    }
    .hero-child {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      background: url('/images/about-plot-2x.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 1030px 378px;
      @include media-breakpoint-up(mm) {
        background-size: 1600px 378px;
        background-position: -100px bottom;
      }
      @include media-breakpoint-up(xl) {
        background-size: 2000px 378px;
        background-position: -200px bottom;
      }
      .column {
        margin-top: 13.2rem;
        margin-bottom: 9.6rem;
        text-align: center;
        color: $white;
        @include media-breakpoint-up(md) {
          margin-top: 15.2rem;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 16rem;
        }
        h2 {
          font-family: $sharpgrotesk-med-20;
          font-size: 2.6rem;
          line-height: 2.55rem;
          letter-spacing: .013rem;
          margin-bottom: 1.6rem;
          @include media-breakpoint-up(md) {
            font-size: 2.8rem;
            line-height: 4.3rem;
            letter-spacing: .014rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
          }
        }
        p {
          font-family: $maisonneue-book;
          font-size: 1.3rem;
          line-height: 2rem;
          letter-spacing: 0;
          @include media-breakpoint-up(md) {
            font-size: 1.8rem;
            line-height: 2.5rem;
            letter-spacing: auto;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.45rem;
            letter-spacing: auto;
          }
        }
      }
    }
  }

  .row {
    &.background {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
      @include media-breakpoint-up(md) {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
      }
      // @include media-breakpoint-up(lg) {
      //   padding-top: 6.4rem;
      //   padding-bottom: 6.4rem;
      // }
      h3 {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        letter-spacing: .055rem;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: .064rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
          line-height: 3.818rem;
          letter-spacing: .07rem;
        }
      }
      h4 {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: auto;
        margin-bottom: 1.6rem;
        @include media-breakpoint-up(md) {
          font-size: 1.85rem;
          line-height: 2.7rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
      }
      p {
        color: $seda-gray;
        font-family: $maisonneue-book;
        font-size: 1.3rem;
        line-height: 2.0rem;
        letter-spacing: 0;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
  }

  .row {
    &.we-hope {
      background-color: rgba(5, 39, 98, 100%);// $seda-dark;
      color: $white;
      text-align: center;
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
      @include media-breakpoint-up(md) {
        padding-top: 8rem;
        padding-bottom: 8rem;
      }
      @include media-breakpoint-up(lg) {
        padding-top: 9.6rem;
        padding-bottom: 9.6rem;
      }
      p {
        font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: .002rem;
        @include media-breakpoint-up(md) {
          font-size: 1.85rem;
          line-height: 2.7rem;
          letter-spacing: auto;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .003rem;
        }
      }
    }
  }

  .row {
    &.mission {
      align-items: center;
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
      padding-left: 12px;
      padding-right: 12px;
      @include media-breakpoint-up(md) {
        padding-left: 16px;
        padding-right: 16px;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 20px;
        padding-right: 20px;
      }
      background-color: $seda-paleblue;
      .column-image {
        text-align: center;
        vertical-align: middle;
        margin-bottom: 4.8rem;
        @include media-breakpoint-up(mm) {
          margin-right: 32px;
        }
      }
      .column-text {
        h3 {
          color: $seda-dark;
          font-family: $sharpgrotesk-med-15;
          font-size: 1.2rem;
          letter-spacing: .055rem;
          text-transform: uppercase;
          margin-bottom: 1.6rem;
          @include media-breakpoint-up(md) {
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: .064rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
            line-height: 3.818rem;
            letter-spacing: .07rem;
          }
        }
        h4 {
          color: $seda-dark;
          font-family: $sharpgrotesk-med-20;
          font-size: 1.4rem;
          line-height: 2.1rem;
          letter-spacing: auto;
          margin-bottom: 1.6rem;
          @include media-breakpoint-up(md) {
            font-size: 1.85rem;
            line-height: 2.7rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.4rem;
            letter-spacing: .03rem;
          }
        }
        p {
          color: $seda-gray;
          font-family: $maisonneue-book;
          font-size: 1.3rem;
          line-height: 2.0rem;
          letter-spacing: 0;
          @include media-breakpoint-up(md) {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
      }
    }
  }

  .row {
    &.who-we-are,
    &.who-we-are-former {
      text-align: center;
      margin-top: 4.8rem;
      margin-bottom: 4.8rem;
      h3 {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        letter-spacing: .055rem;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: .064rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
          line-height: 3.818rem;
          letter-spacing: .07rem;
        }
      }
      h4 {

      }
    }
  }

  .row {
    &.people-current,
    &.people-former {
      text-align: center;
      img {
        border-radius: 62px;
      }
      .pic {
        width: 124px;
        height: 124px;
        background-position: center;
        background-size: 124px 124px;
        border-radius: 62px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        @include media-breakpoint-up(mm) {
          width: 150px;
          height: 150px;
          background-size: 150px 150px;
          border-radius: 75px;
        }
        button {
          background-color: $seda-buttonblue;
          color: $white;
          border: none;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          font-size: 38px;
          line-height: 38px;
          font-weight: 100;
          padding: 5px 0;
          position: absolute;
          right: -5%;
          bottom: 3%;
          span {
            text-align: center;
            &.plus-horiz {
              transform: rotate(90deg);
              transform-origin: left top 0;
            }
          }

        }
      }
      .name {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-20;
        font-size: 1.44rem;
        line-height: 2.592rem;
        letter-spacing: 0;
        margin-top: 1.6rem;
        margin-bottom: .4rem;
        @include media-breakpoint-up(md) {
          margin-top: 1.6rem;
          margin-bottom: .4rem;
          font-size: 1.8rem;
          line-height: 3.24rem;
          letter-spacing: 0;
        }
      }
      .title {
        color: $seda-gray;
        font-family: $maisonneue-book;
        font-size: 1.2rem;
        line-height: 2.8rem;
        letter-spacing: 0;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 2.1rem;
          letter-spacing: 0;
        }
      }
      .bio {
        display: none;
      }
    }

    &.people-former {
      margin-bottom: 6.4rem;
    }
  }

  .row {
    &.quote {
      background-color: $seda-paleblue;
      blockquote {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: .002rem;
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
        @include media-breakpoint-up(md) {
          margin-top: 6.4rem;
          margin-bottom: 6.4rem;
          font-size: 1.85rem;
          line-height: 2.7rem;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 7.2rem;
          margin-bottom: 7.2rem;
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .003rem;
        }
      }
    }
  }

  .row {
    &.funders {
      margin-top: 3.2rem;
      h3 {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        // line-height: 2.1rem;
        letter-spacing: .055rem;
        margin-top: 4.8rem;
        text-transform: uppercase;
        text-align: center;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: .064rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
          line-height: 3.8rem;
          letter-spacing: .07rem;
        }
      }
      p {
        color: $seda-dark;
        font-family: $sharpgrotesk-med-20;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 3.2rem;
        margin-bottom: 4.8rem;
        text-align: center;
        @include media-breakpoint-up(md) {
          font-size: 1.85rem;
          line-height: 2.7rem;
        }
        @include media-breakpoint-up(lg) {
          font-size: 2.3rem;
          line-height: 3.4rem;
          letter-spacing: .03rem;
        }
      }
    }
  }
  .row {
    &.funder-logos {
      margin-top: 4.8rem;
      margin-bottom: 4.8rem;
    }
  }

  .row {
    &.history {
      padding-top: 3.2rem;
      padding-bottom: 4.8rem;
    }
  }

  .modal {
    padding-right: 0 !important;

    @include media-breakpoint-up(md) {
      .modal-dialog {
        max-width: 690px;
      }
      .modal-content {
        width: 690px;
        margin: 0 auto;
      }
      .modal-body {
        padding: 3.2rem;
      }
      .modal-pic {
        padding-left: 0;
        .modal-image {
          margin-top: 0;
        }
      }
      // row {
      //   margin-right: 0 !important;
      //   margin-left: 0 !important;
      // }
      button.close {
        margin-bottom: 1rem;
      }
      .modal-image {
        margin-top: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .modal-dialog {
        max-width: 930px;
      }
      .modal-content {
        width: 930px;
        margin: 0 auto;
      }
      .modal-bio {
        padding-left: 3.2rem;
      }
    }

    button.close {
      // position: absolute;
      opacity: 1;
      align-items: center;
      color: $seda-dark;
      font-size: 3.2rem;
      font-weight: 100;
      border: 1px solid rgba(237, 238, 240, 100);
      width: 40px;
      height: 40px;
      border-radius: 20px;
      span {
        color: $seda-dark;
        font-size: 3.2rem;
        font-weight: 100;
        pointer-events: none;
      }
    }
    .modal-image {
      width: 202px;
      height: 202px;
      background-position: center center;
      background-size: 202px 202px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.4rem;
      margin-bottom: 4.8rem;

      @include media-breakpoint-up(lg) {
        width: 272px;
        height: 272px;
        background-position: center center;
        background-size: 272px 272px;
      }
    }

    .modal-bio {
      hr {
        margin: 1.8rem 0;
      }
      .modal-meta {
        #modalName {
          font-family: $sharpgrotesk-med-20;
          font-size: 1.85rem;
          line-height: 2.7rem;
          letter-spacing: 0;
          color: $seda-dark;
          margin-bottom: 1.2rem;
        }
        #modalTitle {
          font-family: $maisonneue-book;
          font-size: 1.2rem;
          line-height: 1.8rem;
          letter-spacing: 0;
          color: $seda-gray;
        }
      }
      #modalBio {
        font-family: $maisonneue-book;
        font-size: 1.3rem;
        line-height: 2.0rem;
        letter-spacing: 0;
        color: rgba(151, 151, 151, 100%);
        margin-bottom: 3.2rem;
      }
    }

    @include media-breakpoint-up(lg) {
      .modal-bio {
        hr {
          margin: 1.8rem 0;
        }
        .modal-meta {
          #modalName {
            font-size: 1.85rem;
            line-height: 2.7rem;
          }
          #modalTitle {
            font-size: 1.2rem;
            line-height: 2.1rem;
          }
        }
        #modalBio {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }

    .modal-nav {
      margin-bottom: 3.2rem;

      button,
      span {
        font-family: $sharpgrotesk-med-15;
        font-size: 1.4rem;
        letter-spacing: .055rem;
        text-transform: uppercase;
        border: 0;
        background-color: transparent;
      }
      button {
        &.next::after {
          content: "";
          background-image: url(/images/right-arrow.svg);
          display: inline-block;
          width: 14px;
          height: 10px;
          background-size: 14px 10px;
          background-repeat: no-repeat;
          background-position: bottom;
          margin-left: .8rem;
        }
        &.prev:before {
          content: "";
          background-image: url(/images/right-arrow.svg);
          display: inline-block;
          width: 14px;
          height: 10px;
          background-size: 14px 10px;
          background-repeat: no-repeat;
          background-position: bottom;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          margin-right: .8rem;
        }
        &:hover {
          text-decoration: underline;
          color: $seda-dark;
        }
        &:disabled {
          // color: #979797;
          opacity: .5;
          &:before {
            opacity: .5;
          }
          &:after {
            opacity: .5;
          }
          &:hover {
            opacity: .5;
            color: #979797;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Research page
body.research {
  .hero {
    background: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%);
    // background-image: url('/images/about-plot-2x.png'); /* fallback */
    // background-image: linear-gradient(to bottom, rgba(4, 41, 101, 100%) 5%, rgba(4, 29, 85, 100%) 75%), url('/images/about-plot-2x.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 120%;
    height: 336px;
    margin-top: -6.4rem;
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-up(md) {
      height: 448px;
      // background-size: 120% 80%;
      // background-position: -400px 10%;
    }
    @include media-breakpoint-up(xl) {
      // background-size: 2200px 478px;
      // background-position: -400px 10%;
    }

    .hero-child {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      background: url('/images/about-plot-2x.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 1030px 378px;
      @include media-breakpoint-up(mm) {
        background-size: 1600px 378px;
        background-position: -100px bottom;
      }
      @include media-breakpoint-up(xl) {
        background-size: 2000px 378px;
        background-position: -200px bottom;
      }
      .column {
        margin-top: 13.2rem;
        margin-bottom: 9.6rem;
        text-align: center;
        color: $white;
        @include media-breakpoint-up(md) {
          margin-top: 15.2rem;
        }
        @include media-breakpoint-up(lg) {
          margin-top: 16rem;
        }
        h2 {
          font-family: $sharpgrotesk-med-20;
          font-size: 2.6rem;
          line-height: 2.55rem;
          letter-spacing: .013rem;
          margin-bottom: 1.6rem;
          @include media-breakpoint-up(md) {
            font-size: 2.8rem;
            line-height: 4.3rem;
            letter-spacing: .014rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 3.6rem;
            line-height: 5.4rem;
            letter-spacing: .018rem;
          }
        }
        p {
          font-family: $maisonneue-book;
          font-size: 1.3rem;
          line-height: 2rem;
          letter-spacing: 0;
          @include media-breakpoint-up(md) {
            font-size: 1.8rem;
            line-height: 2.5rem;
            letter-spacing: auto;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.45rem;
            letter-spacing: auto;
          }
        }
      }
    }
  }


  .subnav ul.nav-tabs {
    border-bottom: 0;
  }
  .large-tab-nav {
    display: none;
  }
  .large-tab-nav {
    a {
      border: none; // 1px solid transparent;
      border-bottom: 4px solid transparent;
      padding-bottom: 5px;
      margin-top: 0px;
      &:hover {
        color: $seda-dark;
        border: none; // 1px solid transparent;
        border-bottom: 4px solid $seda-navy;
        padding-bottom: 5px;
        margin-top: 0px;
      }
      &:active {
        color: $seda-dark;
        border: none; // 1px solid transparent;
        border-bottom: 4px solid $seda-navy;
        padding-bottom: 5px;
        margin-top: 0px;
      }
      &.active {
        color: $seda-dark;
        border: none;
        border-bottom: 4px solid $seda-navy;
        padding-bottom: 5px;
        margin-top: 0px;
      }
    }
  }
  .small-tab-nav {
    a {
      &.active {
        text-decoration: underline;
      }
      &:hover {
        color: $seda-dark;
      }
    }
  }
  .tab-content {
    margin-top: 3.2rem;
  }
  @include media-breakpoint-up(md) {
    .small-tab-nav {
      display: none;
    }
    .large-tab-nav {
      display: block;
    }
    .tab-content {
      // margin-top: 11.2rem;
    }
  }



  .research-paper {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    padding: 2.4rem;
    margin-bottom: 3.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include media-breakpoint-up(md) {
      padding: 3.2rem;
      flex-wrap: nowrap;
    }

    img {
      width: 84px;
      height: 80px;
      text-align: left;
      flex: 1 1 auto;
      @include media-breakpoint-up(md) {
        width: 141px;
        height: 136px;
        flex: 0 0 auto;
      }
    }

    .info {
      flex: 1 1 auto;
      @include media-breakpoint-up(md) {
        flex: 1 0 70%;
        margin-left: 3.2rem;
        h5 {
          margin-top: 0;
        }
      }
      @include media-breakpoint-up(lg) {
        flex: 1 0 80%;
      }
    }

    h5 {
      font-family: $sharpgrotesk-med-20;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: .007rem;
      margin-top: 3.2rem;
      @include media-breakpoint-up(md) {
        font-size: 1.85rem;
        line-height: 2.7rem;
        letter-spacing: .024rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 2.3rem;
        line-height: 3.4rem;
        letter-spacing: .03rem;
      }
    }

    hr {

    }

    .authors {
      font-family: $maisonneue-book;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: 0;
      color: $seda-dark;
      margin-bottom: 2.4rem;
      @include media-breakpoint-up(xl) {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
    }

    .controls {
      text-align: center;
      .download-paper {
        color: $white;
      }
      .show-versions {
        font-family: $sharpgrotesk-med-15;
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: .055rem;
        text-transform: uppercase;
        padding: 1.6rem;
        display: block;
        @include media-breakpoint-up(xl) {
          font-size: 1.8rem;
          line-height: 3.618rem;
          letter-spacing: .07rem;
        }
        &:after {
          content: "";
          background-image: url(/images/caret-down.svg);
          // transform:rotate(90deg);
          display: inline-block;
          width: 1.2rem;
          height: 1.2rem;
          background-size: 1.2rem 1.2rem;
          background-repeat: no-repeat;
          background-position: bottom;
          margin-left: .6rem;
        }
      }
      @include media-breakpoint-up(md) {
        text-align: left;
        justify-content: space-around;
      }
    }

    .abstract-and-meta {
      // display: none;
      padding-top: 0;
      transition: opacity 300ms ease-out 200ms, max-height 2s ease-out 200ms;
      opacity: 0;
      height: 0;
      overflow: hidden;

      .abstract,
      .abstract p {
        font-family: $maisonneue-book;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $seda-gray;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 2.1rem;
          letter-spacing: 0;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0;
        }
      }

      .meta {
        h4 {
          font-family: $sharpgrotesk-med-20;
          font-size: 1.7rem;
          line-height: 2.8rem;
          letter-spacing: .009rem;
          margin-top: 3.2rem;
          @include media-breakpoint-up(md) {
            font-size: 1.8rem;
            line-height: 2.75rem;
            letter-spacing: .023rem;
          }
          @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
            line-height: 3.4rem;
            letter-spacing: .03rem;
          }
        }
        .version-link {
          width: 100%;
          display: block;
          &:hover {
            color: $seda-dark;
          }

          @include media-breakpoint-up(md) {
            margin-top: .8rem;
            margin-bottom: .8rem;
          }
          .date {
            font-family: $maisonneue-book;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: .061rem;
            @include media-breakpoint-up(md) {
              font-size: 1.4rem;
              line-height: 2.1rem;
              letter-spacing: .061rem;
            }
            @include media-breakpoint-up(lg) {
              font-size: 1.6rem;
              line-height: 2rem;
              letter-spacing: .07rem;
            }
          }
          .label {
            font-family: $sharpgrotesk-med-15;
            font-size: 1.2rem;
            line-height: 1.4rem;
            letter-spacing: .055rem;
            text-transform: uppercase;
            @include media-breakpoint-up(md) {
              font-size: 1.4rem;
              line-height: 1.4rem;
              letter-spacing: .06rem;
            }
            @include media-breakpoint-up(lg) {
              font-size: 1.6rem;
              line-height: 2rem;
              letter-spacing: .07rem;
            }

            &:after {
              content: "";
              background-image: url(/images/download-arrow.svg);
              // transform:rotate(90deg);
              display: inline-block;
              width: 1.2rem;
              height: 1.2rem;
              background-size: 1.2rem 1.2rem;
              background-repeat: no-repeat;
              background-position: bottom;
              margin-left: .6rem;
              margin-bottom: -1px;
            }
          }
        }
      }
    }

    &.abstract-visible {

      .show-versions {
        &:after {
          transform: rotate(180deg);
          margin-bottom: -2px;
          @include media-breakpoint-up(xl) {
            margin-bottom: 0;
          }
        }
      }
      .abstract-and-meta {
        // transition: opacity 2s ease-out 200ms, height 2s ease-out, max-height 2s ease-out;
        padding-top: 1.6rem;
        opacity: 1;
        height: auto;
        max-height: 1000px;
      }
    }
  }

  h3 {
    margin-bottom: 2.4rem;
    color: #031232;
    font-size: 1.7rem;
    line-height: 2.8rem;
    letter-spacing: 0.009rem;
    @include media-breakpoint-up(md) {
      font-size: 1.85rem;
      line-height: 2.75rem;
      letter-spacing: 0.024rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.3rem;
      line-height: 3.4rem;
      letter-spacing: 0.03rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.8rem;
      line-height: 4.2rem;
      letter-spacing: 0.03rem;
    }
  }
  h5 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.007rem;
    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      // letter-spacing: 0.024rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 3rem;
      letter-spacing: auto;
    }
  }
  p {
    font-size: 1.3rem;
    line-height: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.9rem;
      line-height: 2.8rem;
    }
  }
  .row.using {
    padding-top: 5.6rem;
    @include media-breakpoint-up(md) {
      padding-top: 8rem;
    }
  }
  .row.technical {
    background-color: #F5F8FA;
    padding: 8rem 16px 4rem;
    margin-left: 0;
    margin-right: 0;
  }
  .row.related {
    padding: 8rem 0 4rem;
  }
  .accordion-section {
    padding: 4.8rem 0;
    border-top: 2px solid #E9EAED;
    a.question {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      h5 {
        padding-right: 2.4rem;
      }
      i.fa-chevron-up {
        transform: rotate(180deg);
      }
      &:hover {
        text-decoration: none;
        color: $seda-red;
        // color: $seda-lightblue;
        // color: #5198c7;
        // color: #6cc1aa;
      }
    }
    .answer {
      margin-top: 1.6rem;
    }
  }
  .center-block {
    float: none !important;
  }

}




// 404 page
.row {
  &.404 {
    min-height: 100vh;
    padding-top: 25vh;
  }
}

// Footer
#footer {
  background-color: $seda-navy;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    li {
      font-size: 1.6rem;
      a {
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;
          color:  $white;
        }
      }
    }
  }
  img.logo {
    width: 192px;
    margin-bottom: 2.4rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  // .row {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
  @include media-breakpoint-up(md) {
    padding-top: 6.4rem !important;
    padding-bottom: 6.4rem !important;
  }

  .navlinks {
    order: 1;
    font-family: $sharpgrotesk-med-15;
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: .066rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    a {
      margin: 0 2.4rem .4rem;
      flex-direction: column;
    }
    @include media-breakpoint-up(md) {
      order: 1;
      justify-content: flex-start;
      a {
        margin: 0 3.2rem 0 0;
      }
    }
  }
  .social {
    text-align: center;
    font-size: 2.4rem;
    order: 5;
    a {
      margin: 0 .4rem;
    }

    @include media-breakpoint-up(md) {
      text-align: right;
      font-size: 1.6rem;
      order: 2;
      a {
        margin: 0 0 0 .8rem;
      }
      justify-content: flex-end;
    }
  }
  //  }

  .break {
    order: 3;
    hr {
      background-color: $white;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

    }
    @include media-breakpoint-up(md) {
      order: 2;
    }
  }

  .siteby {
    order: 4;
    font-family: $maisonneue-book;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: .009rem;
    text-align: center;
    margin-bottom: 2.4rem;
    a {
      text-transform: none;
    }
    @include media-breakpoint-up(md) {
      order: 4;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .institution {
    order: 3;
    font-family: $maisonneue-book;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: .009rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 2.4rem;
    @include media-breakpoint-up(md) {
      order: 5;
      text-align: right;
      justify-content: flex-end;
    }
  }
}

@import 'article1';
@import 'faq';
