.who-we-are {
    h4 {
        margin-bottom: 4rem;
    }
    
}
.bigimage {
    display: none;
}
.modal-pic {
    img {
        max-width: 100%;
    }
}
body.about { 
    .column-people {
         .pic {
            background-size: contain; 
            background-blend-mode: color;
        } 
    }
    .column-people:hover {
        .pic {
            //filter: none;
            background-blend-mode: color-burn;
            transition: background-blend-mode .3s ease;
        }
        .pic button {
            transition: background-color .3s ease;
            background-color: $seda-red !important;
        }
    }    
    .row.people-former, .row.people-current {
        .flex-row {
            justify-content: center;
        }
    }
    .who-we-are-former.leadership {
        h4 {
            margin-top: 3.2rem;
            margin-bottom: 2.4rem;
        }
    }
    .row.quote.m-0 {
        margin-top: 5.6rem !important;
    }
    .row.funder-logos {
        .p-2.rsf {
            top: 5px;
            position: relative;
        }
    }
}