.type-whats-new {
    #banner {
        display: none;
    }
    #hero {
        svg {
            will-change: opacity;
            opacity: 0;
        }
    }
    .container-xxl {
        max-width: 1440px; 
        margin: 0 auto;
    }
    .bg-accent {
        background-color: #F5F8FA;
    }
    #page-content {
        h5 {
            line-height: 1.5;
        }
        p, li {
            font-size: 1.6rem;
            line-height: 1.5;
            color: $seda-gray;
            @include media-breakpoint-up(md) {
                font-size: 1.6rem;
                line-height: 1.5;
            }
            @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
            @include media-breakpoint-up(xl) {
                font-size: 1.7rem;
                line-height: 2.5rem;
            }
        }
        p, ul {
        @include media-breakpoint-up(lg) {
            margin-bottom: 2.4rem;
        }
        }
        p a, li a {
        color: $seda-red;
        color: #7086AB;
        color: $seda-navy;
        //font-family: $maisonneue-bold;
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
            color: #627799;
        }
        }
        img {
            will-change: transform;
        }
        .whats-new-text1, .whats-new-text2, .whats-new-text3, .whats-new-text4, #hero svg, #hero h2, #hero p {
            will-change: opacity;
        }
        img.left-shadow {
            box-shadow: -2px 4px 9px 0px rgba(0, 0, 0, 0.05);
        }
    }
}