{{ define "main" }}

<div id="hero" class="hero row" style="">
  <div class="hero-child row">
    <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
      <h2>About this project</h2>
      <p>The Stanford Education Data Archive (SEDA) aims to harness data to improve educational opportunity.</p>
    </div>
  </div>
</div>

<div class="row background mx-1">
  <div class="col-xs-12 col-sm-12 col-md-7 offset-md-1 col-xl-6 offset-xl-2">
    <h3>Background</h3>
    <h4>The Stanford Education Data Archive (SEDA) is an initiative aimed at harnessing data to help scholars, policymakers, educators, and parents learn how to improve educational opportunity for all children.</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 offset-md-1 col-xl-6 offset-xl-2">
    <p>Racial, socioeconomic, and gender disparities in academic performance and educational attainment are stubborn features of the U.S. educational system.These disparities are neither inevitable nor immutable, however. They have been produced by—and so may also be reduced by—a welter of social and economic policies, social norms and patterns of interaction, and the organization of American schooling.  </p>
    <p>SEDA includes a range of detailed data on educational conditions, contexts, and outcomes in school districts and counties across the United States. It includes measures of academic achievement and achievement gaps for school districts and counties, as well as district-level measures of racial and socioeconomic composition, racial and socioeconomic segregation patterns, and other features of the schooling system. The data are publicly available here, so that anyone can obtain detailed information about American schools, communities, and student success. </p>
  </div>
</div>

<div class="row we-hope m-0 px-1">
  <div class="col-xs-12 col-mm-10 offset-mm-1 col-md-8 offset-md-2">
    <p>We hope that researchers will use the data to generate evidence about what policies and contexts are most effective at increasing educational opportunity, and that such evidence will inform educational policy and practices.</p>
  </div>
</div>

<div class="row mission m-0 d-none">
  <div class="column-image col-xs-12 col-mm-10 offset-mm-1 col-md-2 offset-md-1">
    <img src="{{ "/images/magnifying-glass.svg" | relURL }}" alt="Magnifying glass" width="118" height="121">
  </div>
  <div class="column-text col-xs-11 offset-xs-1 col-mm-10 offset-mm-1 col-md-8 offset-md-0 col-xl-7">
    <h3>Mission</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum   eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
  </div>
</div>

<div class="row mx-1 who-we-are-former leadership">
  <div class="headers w-100">
    <h4>Who We Are</h4>
    <h3>SEDA Development Team</h3>
  </div>
</div>

<div class="row mx-1 people-former">
  <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">

    {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
    {{ if eq .role "leadership" }}
    <!-- <div class="col-xs-12 col-mm-4 col"> -->
    {{ $cleanName := replace (urlize .name) "." "" }}
    {{ $cleanTitle := replace (urlize .title) "." "" }}
    <div id="{{$cleanName}}-{{$cleanTitle}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
        <style>
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic {
            background: url('{{ .thumb }}');
            background: url('{{ .thumbbw }}');
          }
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic:hover {
            background: url('{{ .thumb }}');
          }
          /* Force loading to avoid flicker. */
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic .load-bg {
            background: url('{{ .thumb }}');
            height: 1px;
            width: 1px;
            position: abosolute;
            left: -6000;
            display: block;
          }
        </style>
        <div data-image="{{ .thumb }}" class="pic" style="" alt="Photo of {{ .name }}, select to access bio">
          <span class="load-bg" aria-hidden="true"></span>
          <button class="gta-event-bioExpanded" aria-label="Select to access bio for {{ .name }}" class="">+</button>
        </div>

          {{ partial "person.html" . }}

        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>

    <div class="row mx-1 who-we-are-former">
      <div class="headers w-100">
        <h3>Research Collaborators</h3>
      </div>
    </div>

    <div class="row mx-1 people-former">
      <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">

        {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
        {{ if eq .role "collaborator" }}
        <!-- <div class="col-xs-12 col-mm-4 col"> -->
        {{ $cleanName := replace (urlize .name) "." "" }}
        {{ $cleanTitle := replace (urlize .title) "." "" }}
        <div id="{{$cleanName}}-{{$cleanTitle}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
            <style>
              #{{$cleanName}}-{{$cleanTitle}}.column-people .pic {
                background: url('{{ .thumb }}');
                background: url('{{ .thumbbw }}');
              }
              #{{$cleanName}}-{{$cleanTitle}}.column-people .pic:hover {
                background: url('{{ .thumb }}');
              }
              /* Force loading to avoid flicker. */
              #{{$cleanName}}-{{$cleanTitle}}.column-people .pic .load-bg {
                background: url('{{ .thumb }}');
                height: 1px;
                width: 1px;
                position: abosolute;
                left: -6000;
                display: block;
              }
            </style>
            <div data-image="{{ .thumb }}" class="pic" style="" alt="Photo of {{ .name }}, select to access bio">
              <span class="load-bg" aria-hidden="true"></span>
              <button class="gta-event-bioExpanded" aria-label="Select to access bio for {{ .name }}" class="">+</button>
            </div>

              {{ partial "person.html" . }}

            </div>
            {{ end }}
            {{ end }}


          </div>
        </div>

        <div class="row mx-1 who-we-are-former">
          <div class="headers w-100">
            <h3>PhD Students</h3>
          </div>
        </div>

        <div class="row mx-1 people-former">
          <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">

            {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
            {{ if eq .role "student" }}
            <!-- <div class="col-xs-12 col-mm-4 col"> -->
            {{ $cleanName := replace (urlize .name) "." "" }}
            {{ $cleanTitle := replace (urlize .title) "." "" }}
            <div id="{{$cleanName}}-{{$cleanTitle}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                <style>
                  #{{$cleanName}}-{{$cleanTitle}}.column-people .pic {
                    background: url('{{ .thumb }}');
                    background: url('{{ .thumbbw }}');
                  }
                  #{{$cleanName}}-{{$cleanTitle}}.column-people .pic:hover {
                    background: url('{{ .thumb }}');
                  }
                  /* Force loading to avoid flicker. */
                  #{{$cleanName}}-{{$cleanTitle}}.column-people .pic .load-bg {
                    background: url('{{ .thumb }}');
                    height: 1px;
                    width: 1px;
                    position: abosolute;
                    left: -6000;
                    display: block;
                  }
                </style>
                <div data-image="{{ .thumb }}" class="pic" style="" alt="Photo of {{ .name }}, select to access bio">
                  <span class="load-bg" aria-hidden="true"></span>
                  <button class="gta-event-bioExpanded" aria-label="Select to access bio for {{ .name }}" class="">+</button>
                </div>

                  {{ partial "person.html" . }}

                </div>
                {{ end }}
                {{ end }}


              </div>
            </div>

            <div class="row mx-1 who-we-are-former">
              <div class="headers w-100">
                <h3>Research & Development Staff</h3>
              </div>
            </div>

            <div class="row mx-1 people-former">
              <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">

                {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
                {{ if eq .role "staff" }}
                <!-- <div class="col-xs-12 col-mm-4 col"> -->
                {{ $cleanName := replace (urlize .name) "." "" }}
                {{ $cleanTitle := replace (urlize .title) "." "" }}
                <div id="{{$cleanName}}-{{$cleanTitle}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
                    <style>
                      #{{$cleanName}}-{{$cleanTitle}}.column-people .pic {
                        background: url('{{ .thumb }}');
                        background: url('{{ .thumbbw }}');
                      }
                      #{{$cleanName}}-{{$cleanTitle}}.column-people .pic:hover {
                        background: url('{{ .thumb }}');
                      }
                      /* Force loading to avoid flicker. */
                      #{{$cleanName}}-{{$cleanTitle}}.column-people .pic .load-bg {
                        background: url('{{ .thumb }}');
                        height: 1px;
                        width: 1px;
                        position: abosolute;
                        left: -6000;
                        display: block;
                      }
                    </style>
                    <div data-image="{{ .thumb }}" class="pic" style="" alt="Photo of {{ .name }}, select to access bio">
                      <span class="load-bg" aria-hidden="true"></span>
                      <button class="gta-event-bioExpanded" aria-label="Select to access bio for {{ .name }}" class="">+</button>
                    </div>

                      {{ partial "person.html" . }}

                    </div>
                    {{ end }}
                    {{ end }}


                  </div>
                </div>

                <div class="row mx-1 who-we-are-former">
                  <div class="headers w-100">
                    <h3>Former Project Team Members</h3>
                  </div>
                </div>

<div class="row mx-1 people-former">
  <div class="col-xs-12 col-lg-10 offset-lg-1 flex-row d-flex flex-wrap">
    {{ range $datapeople := sort ($.Site.Data.people) "weight" "asc" }}
      {{ if eq .role "former" }}
        <!-- <div class="col-xs-12 col-mm-4 col"> -->
        {{ $cleanName := replace (urlize .name) "." "" }}
        {{ $cleanTitle := replace (urlize .title) "." "" }}
        <div id="{{$cleanName}}-{{$cleanTitle}}" class="column-people p-2 col-xs-12 col-md-4 col-lg-3 launch-people-bio">
        <style>
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic {
            background: url('{{ .thumb }}');
            background: url('{{ .thumbbw }}');
          }
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic:hover {
            background: url('{{ .thumb }}');
          }
          /* Force loading to avoid flicker. */
          #{{$cleanName}}-{{$cleanTitle}}.column-people .pic .load-bg {
            background: url('{{ .thumb }}');
            height: 1px;
            width: 1px;
            position: abosolute;
            left: -6000;
            display: block;
          }
        </style>
        <div data-image="{{ .thumb }}" class="pic" style="" aria-label="Photo of {{ .name }}">
          <span class="load-bg" aria-hidden="true"></span>
          <button class="gta-event-bioExpanded" aria-label="Select to access bio for {{ .name }}">+</button>
        </div>
          {{ partial "person.html" . }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<div class="row quote m-0 px-1">
  <div class="col-xs-10 offset-xs-1 col-md-7 offset-md-2 col-lg-6">
    <blockquote>
      “The American Dream will remain out of reach until all of our children have equal educational opportunities.
      My hope is that this data will help in the hard work of bringing the dream closer to reality.”<br><br>Sean Reardon
    </blockquote>
  </div>
</div>


<div class="row mx-1 funders">
  <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <h3>Funders</h3>
    <p>This website and SEDA's research are generously supported by the following funders:</p>
  </div>
</div>

<div class="row mx-1 funder-logos d-flex flex-row justify-content-around">
  <div class="p-2">
    <img src="{{ "/images/funders/Bill_&_Melinda_Gates_Foundation_logo@1x.png" | relURL }}" srcset="{{ "/images/funders/Bill_&_Melinda_Gates_Foundation_logo@1x.png" | relURL }} 1x, {{ "/images/funders/Bill_&_Melinda_Gates_Foundation_logo@2x.png" | relURL }} 2x" alt="Bill and Melinda Gates Foundation">
  </div>
  <div class="p-2">
    <img src="{{ "/images/funders/william-t-grant-foundation-logo@1x.png" | relURL }}" srcset="{{ "/images/funders/william-t-grant-foundation-logo@1x.png" | relURL }} 1x, {{ "/images/funders/william-t-grant-foundation-logo@2x.png" | relURL }} 2x" alt="William T. Grant Foundation">
  </div>
  <div class="p-2">
    <img src="{{ "/images/funders/ies-logo@1x.png" | relURL }}" srcset="{{ "/images/funders/ies-logo@1x.png" | relURL }} 1x, {{ "/images/funders/ies-logo@2x.png" | relURL }} 2x" alt="Institute of Education Sciences">
  </div>
  <div class="p-2">
    <img src="{{ "/images/funders/RusselSageFoundation@1x.png" | relURL }}" srcset="{{ "/images/funders/RusselSageFoundation@1x.png" | relURL }} 1x, {{ "/images/funders/RusselSageFoundation@2x.png" | relURL }} 2x" alt="Russel Sage Foundation">
  </div>
  <div class="p-2">
    <img src="{{ "/images/funders/OFF-Logo-2019@1x.png" | relURL }}" srcset="{{ "/images/funders/OFF-Logo-2019@1x.png" | relURL }} 1x, {{ "/images/funders/OFF-Logo-2019@2x.png" | relURL }} 2x" alt="Overdeck Family Foundation">
  </div>
  <div class="p-2">
    <img src="{{ "/images/funders/spencer-logo@1x.png" | relURL }}" srcset="{{ "/images/funders/spencer-logo@1x.png" | relURL }} 1x, {{ "/images/funders/spencer-logo@2x.png" | relURL }} 2x" alt="Spencer">
  </div>
</div>

<div class="row mx-1 history">
  <div class="col-xs-12 col-mm-6 col-lg-5 offset-lg-1"><p>The construction of SEDA has been supported by grants from the Institute of Education Sciences (R305D110018), the Spencer Foundation, the William T. Grant Foundation, the Bill and Melinda Gates Foundation, the Overdeck Family Foundation, and by a visiting scholar fellowship from the Russell Sage Foundation. Some of the data used in constructing the SEDA files were provided by the National Center for Education Statistics (NCES).</p></div>
  <div class="col-xs-12 col-mm-6 col-lg-5"><p>The findings and opinions expressed in the research reported here are those of the authors and do not represent views of NCES, the Institute of Education Sciences, the Spencer Foundation, the William T. Grant Foundation, the Russell Sage Foundation, the Bill and Melinda Gates Foundation, the Overdeck Family Foundation, or the U.S. Department of Education.</p></div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}
