{{ define "main" }}

<div id="hero" class="hero row" style="">
        <div class="hero-child row">
          <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3 d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-2 mt-3" tabindex="0">Contact Us</h2>
          </div>
         </div>
    </div>
<div class="row mx-1 base-style data-form mb-6">
    <div class="col-12 col-md-7 mx-auto mt-6 mb-8">
        <h4 class="mt-md-3 mb-3 mb-lg-4">To get in touch, please choose from one of the following:</h4>
        <ul>
            <li>For questions about using the website, or to submit bug reports and get troubleshooting assistance: <a href="mailto:help@edopportunity.org">help@edopportunity.org</a></help></li>
            <li>For press and public speaking inquiries: <a href="mailto:media@edopportunity.org">media@edopportunity.org</a></li>
            <li>For inquiries about the data and research: <a href="mailto:sedasupport@stanford.edu">sedasupport@stanford.edu</a></li>
        </ul>
        
    </div> 
</div>


    {{ end }}
