{{ define "main" }}

<div id="hero" class="hero row" style="">
        <div class="hero-child row">
          <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3">
            <h2 tabindex="0">Discoveries</h2>
            <p tabindex="0">See what we're learning lorem ipsum dolor sit amet</p>
          </div>
         </div>
    </div>



<div id="scrollTarget2" class="row latest-explorations m-0 pb-md-7 pt-md-3">
    
    {{ range $index, $element := first 2 (where .Site.Pages "Section" "posts") }}
        {{ if (eq $index 0) }}
            <div class="card-container col-xs-12 col-md-6 col-lg-5 offset-lg-1">
        {{ else }}
            <div class="card-container col-xs-12 col-md-6 col-lg-5">
        {{ end }}

                {{ partial "explorations-card.html" .}}

            </div>
    {{ end }}
   
</div>

{{ partial "subscribe.html" .}}

{{ end }}
