{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
      <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <h2>Help & FAQ</h2>
        <p>Learn about the data, and how to use our interactive visualizations.</p>
      </div>
     </div>
</div>

<div class="row subnav d-md-none small-tab-nav">

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                Jump to Section:
            </button>
    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
      <ul class="anchor-links dropdown-menu">
        <li><a tabindex="0" data-scroll-target="glossary" class="scroll-to-section">Glossary</a></li>
        <li><a tabindex="0" data-scroll-target="data" class="scroll-to-section active ">Understanding the Data</a></li>
        <li><a tabindex="0" data-scroll-target="map" class="scroll-to-section">Using the Explorer</a></li>
    </ul>
    <!--</div>-->
  </div>

</div>

<div class="row subnav d-sm-none d-md-block large-tab-nav">

      <ul class="anchor-links col-md-10 col-lg-8 mx-auto d-md-flex justify-content-around">
        <li tabindex="0">Jump to Section:</li>
        <li><a tabindex="0" aria-label="Skip to Glossary" data-scroll-target="glossary" class="scroll-to-section">Glossary</a></li>
        <li><a tabindex="0" aria-label="Skip to Understanding the Data FAQ" data-scroll-target="data" class="scroll-to-section">Understanding the Data</a></li>
        <li><a tabindex="0" aria-label="Skip to Using the Explorer FAQ" data-scroll-target="map" class="scroll-to-section">Using the Explorer</a></li>
      </ul>
    </div>

<div class="row open-all-sr sr-only">
  <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
    <button id="openAllSR" class="sr-only" data-do-open-panels="true" aria-label="Open all accordion panels">OPEN ALL
    </button>
  </div>
</div>

<div class="row open-all d-sm-none d-md-block">
  <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
    <button id="openAll" class="icon-down" aria-hidden="true" data-do-open-panels="true">OPEN ALL</button>
  </div>
</div>


<div class="row glossary" id="glossary">
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
        <h3 tabindex="0">Glossary</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">

        <div class="accordion">
            {{ range (where .Site.RegularPages "Params.section" ("glossary")) }}
                {{ partial "faqs" . }}
            {{ end }}
        </div> <!-- close accordion -->
    </div>
</div>

<div class="row data alt-bg" id="data">
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
        <h3 tabindex="0">Understanding the Data</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">

        <div class="accordion">
            {{ range (where .Site.RegularPages "Params.section" ("data")) }}
                {{ partial "faqs" . }}
            {{ end }}
        </div> <!-- close accordion -->
    </div>
</div>
<div class="row map mx-0 px-2" id="map">
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
        <h3 tabindex="0">Using the Opportunity Explorer</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">

        <div class="accordion">
            {{ range (where .Site.RegularPages "Params.section" ("help")) }}
                {{ partial "faqs" . }}
            {{ end }}
        </div> <!-- close accordion -->
    </div>
</div>

<!-- <a href="javascript:void(0)" class="d-none toggle-accordion active" accordion-id="#accordion"></a> -->


{{ partial "subscribe.html" .}}

{{ end }}
