{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
      <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <h2>Methods</h2>
        <p>How SEDA produced estimates of student performance that are comparable across places, grades, and years.
            </p>
      </div>
     </div>
</div>

<div class="row subnav small-tab-nav">

    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Select to expand jump-to menu">
            Jump to Section:
        </button>
    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->

                <ul class="anchor-links dropdown-menu">
                    <li><a data-scroll-target="background" class="scroll-to-section" tabindex="0">Background</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="challenges" class="scroll-to-section" tabindex="0">Challenges Working with Proficiency Data</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="addressing" class="scroll-to-section" tabindex="0">SEDA Methods: Addressing the Challenges</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="raw-data-t" class="scroll-to-section" tabindex="0">Raw Data</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="prof-threshold" class="scroll-to-section" tabindex="0">Estimating the Location of Each State’s Proficiency Thresholds</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="placing-proficiency" class="scroll-to-section" tabindex="0">Placing the Proficiency Thresholds on the Same Scale</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="estimating-means" class="scroll-to-section" tabindex="0">Estimating Means from Proficiency Count Data</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="scaling-estimates" class="scroll-to-section" tabindex="0">Scaling the Estimates to Grade Equivalents</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="reducing" class="scroll-to-section" tabindex="0">The Three Parameters: Average, Growth, and Trend</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="reporting" class="scroll-to-section" tabindex="0">Reporting the Data</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="data-accuracy" class="scroll-to-section" tabindex="0">Data Accuracy</a><span class="d-sm-none d-md-inline">&nbsp; | &nbsp;</span></li>
                    <li><a data-scroll-target="interested" class="scroll-to-section" tabindex="0">For Interested Readers and Data File Users</a></li>
                </ul>


    <!--</div>-->
    </div>

</div>


<div class="row glossary mx-1 mb-3" id="background" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
            <p>A simplified description of the SEDA methodology is provided here; for more detail, see the <a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_documentation_4.1.pdf" target="_blank" rel="noopener noreferrer">SEDA Technical Documentation.</a></p>
        {{ range (where .Site.RegularPages "Params.section" ("background")) }}
            {{ .Content }}
        {{ end }}
    </div>
</div>
<div class="row data mx-0 px-1" id="challenges" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("challenges")) }}
            {{ .Content | markdownify }}
        {{ end }}
    </div>
</div>
<div class="row map mx-1" id="addressing" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("addressing")) }}
            {{ .Content }}
        {{ end }}
    </div>
</div>
<div class="row data mx-0 px-1" id="raw-data-t" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("raw-data")) }}
            {{ .Content }}
        {{ end }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 mx-auto" tabindex="0">
        {{ range (where .Site.RegularPages "Params.section" ("raw-data-two")) }}
            {{ .Content }}
        {{ end }}
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
        {{/* range (where .Site.RegularPages "Params.section" ("raw-data-three")) }}
            {{ .Content }}
        {{ end */}}
    </div>-->
</div>
<div class="row map mx-1" id="prof-threshold" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("prof-threshold")) }}
            {{ .Content }}
        {{ end }}
    </div>
</div>
<div class="row data mx-0 px-1" id="placing-proficiency" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("placing-proficiency")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row map mx-1" id="estimating-means" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("estimating-means")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row data mx-0 px-1" id="scaling-estimates" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("scaling-estimates")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row map mx-1" id="reducing" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("reducing")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row data mx-0 px-1" id="reporting" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("reporting")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row map mx-1" id="data-accuracy" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("data-accuracy")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>
<div class="row data mx-0 px-1" id="interested" tabindex="0">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 mx-auto">
        {{ range (where .Site.RegularPages "Params.section" ("interested")) }}
            {{ .Content }}
          {{ end }}
        </div>
</div>



{{ partial "subscribe.html" .}}

{{ end }}
