{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
      <div class="column col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <h2>In the News2</h2>
        <p>Media mentions of SEDA's work</p>
      </div>
     </div>
</div>

{{ range sort .Site.Data.news "date" "desc" }}
  <div class="row news-item mx-1" id="">
    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
      <p>{{ dateFormat "January 2, 2006" .date }}</p>
      <h4><a href="{{ .link }}" target="_blank" data-outlet="{{.outlet}}" class="gta-event-articleSelected">{{ .headline }}</a></h4>
      <p class="excerpt">{{ .excerpt | safeHTML }}</p>
      <span><a class="readmore gta-event-articleSelected" href="{{ .link }}" target="_blank">Read more at {{ .outlet }}</a></span>
    </div>
  </div>
{{ end }}



{{ partial "subscribe.html" .}}

<div data-pym-src="https://hyperobjekt.github.io/seda-media-map/">Loading...</div>
<script type="text/javascript" src="https://pym.nprapps.org/pym-loader.v1.min.js"></script>

<div class="center-page-wrapper">
  <div class="center-content-post page-list">
    <h2 class="bordered-header blue">Eviction Lab Media Coverage</h2>  
    <p></p> 
    <p><i class="fa fa-chevron-up"></i>&nbsp;&nbsp;<span class="ak-bold">Map:</span> <span id="numLocalStories"></span> stories in local outlets &nbsp;|&nbsp; <i class="fa fa-chevron-down"></i>&nbsp;&nbsp;<span class="ak-bold">Table:</span> <span id="numNationalStories"></span> stories in national outlets &nbsp;|&nbsp; Updated: <span id="lastUpdated"></span></p>
    <table id="national-media-table" class="page-stats table-responsive"></table>
  </div>
</div>
<script src="/js/main.js?{{ now.Unix }}"></script>
{{ end }}
