{{ define "main" }}

<div id="hero" class="hero row" style="">
    <div class="hero-child row">
        <div class="column col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-6 offset-xl-3">
            <h2>{{ .Title }}</h2>
            <p>{{ .Params.byline }}</p>
        </div>
    </div>
</div>


<div class="row subnav d-block d-lg-none small-tab-nav">

        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Skip-to by category" tabindex="0">
                Select Category:
            </button>
            <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <ul class="anchor-links dropdown-menu nav nav-tabs">
                <li><a class="nav-item active gta-event-categorySelected" data-toggle="tab" href="#using" aria-label="Skip to Our Papers Using SEDA Data">Our Papers</a></li>
                <li><a class="nav-item gta-event-categorySelected" data-toggle="tab" href="#other-papers" aria-label="Skip to Other Papers Using SEDA Data">Other Papers using SEDA Data</a></li>
                <li><a class="nav-item gta-event-categorySelected" data-toggle="tab" href="#technical" aria-label="Skip to Technical and Methodological">Technical/Methodological</a></li>
                <li><a class="nav-item gta-event-categorySelected" data-toggle="tab" href="#related" aria-label="Skip to Related Papers">Related Papers</a></li>
                <li class="nav-item">
                        <a data-scroll-target="submit-papers" class="colorbuttonblue scroll-to-section" id="submit-link" role="link" aria-controls="submit papers" aria-selected="false" aria-label="Submit Papers">Submit Papers</a>
                </li>
            </ul>
            <!--</div>-->
        </div>
    
    </div>
    
    <div class="row subnav d-none d-lg-block large-tab-nav">
        <ul class="nav nav-tabs col-lg-12 col-xl-10 mx-auto d-md-flex" id="researchTabs" role="tablist">
            <li class="nav-item only-larger-screens" aria-label="Skip-to by category" tabindex="0">Select Category:</li>
            <li class="nav-item">
                <a class="nav-link switch-tab gta-event-categorySelected" id="using-tab" data-toggle="tab" href="#using" role="tab" aria-controls="using" aria-selected="true" aria-label="Skip to Our Team's Papers Using SEDA Data">Our papers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link switch-tab gta-event-categorySelected" id="others-tab" data-toggle="tab" href="#other-papers" role="tab" aria-controls="others" aria-selected="false" aria-label="Skip to Other Papers Using SEDA Data">Other papers using SEDA data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link switch-tab gta-event-categorySelected" id="technical-tab" data-toggle="tab" href="#technical" role="tab" aria-controls="technical" aria-selected="false" aria-label="Skip to Technical and Methodological">Technical/Methodological</a>
            </li>
            <li class="nav-item switch-tab">
                <a class="nav-link gta-event-categorySelected" id="related-tab" data-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="false" aria-label="Skip to Related Papers">Related Papers</a>
            </li>
            <li class="nav-item">
                    <a data-scroll-target="submit-papers" class="nav-link point-down colorbuttonblue scroll-to-section" id="submit-link" role="link" aria-controls="submit papers" aria-selected="false" aria-label="Submit Papers"><span class="papersbutton">Submit Papers</span></Submit></a>
            </li>
        </ul>
    </div>
<div class="tab-content my-xl-5" id="researchTabContent">
    <div class="tab-pane fade show active" id="using" role="tabpanel" aria-labelledby="using-tab" tabindex="0">
        <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
            <h3 tabindex="0">Papers using SEDA Data</h3>
        </div> -->

            {{ range .Site.Data.research }}
            {{ if in .categories "uses-seda" }}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9 mx-auto px-0">
                    {{ partial "paper" . }}
                </div>
            </div>
            <hr>
            {{ end }}
            {{ end }}

    </div>
    <div class="tab-pane fade" id="other-papers" role="tabpanel" aria-labelledby="others-tab" tabindex="0">
        <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
            <h3 tabindex="0">Papers using SEDA Data</h3>
        </div> -->

            {{ range .Site.Data.research }}
            {{ if in .categories "other-papers" }}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9 mx-auto px-0">
                    {{ partial "paper" . }}
                </div>
            </div>
            <hr>
            {{ end }}
            {{ end }}

    </div>
    <div class="tab-pane fade" id="technical" role="tabpanel" aria-labelledby="technical-tab" tabindex="0">
        <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
             <h3 tabindex="0">Techincal and Methodological</h3>
        </div> -->

            {{ range .Site.Data.research }}
            {{ if in .categories "technical" }}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9 mx-auto px-0">
                    {{ partial "paper" . }}
                </div>
            </div>
            {{ end }}
            {{ end }}

    </div>
    <div tabindex="0" class="tab-pane fade" id="related" role="tabpanel" aria-labelledby="related-tab">
        <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 mx-auto">
            <h3 tabindex="0">Related Papers</h3>
        </div> -->

            {{ range .Site.Data.research }}
            {{ if in .categories "related" }}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9 mx-auto px-0">
                    {{ partial "paper" . }}
                </div>
            </div>
            {{ end }}
            {{ end }}

    </div>
</div>
<div id="submit-papers" class="form-iframe-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-xl-9 mx-auto px-0 text-center mt-10">
                <h4>Loading ...</h4> 
            </div>
        </div>            
    <iframe id="papersframe" src="https://feat-papersform--eop-staging.netlify.com/papersform/"></iframe>
</div>
<script>
    // Selecting the iframe element
    var container = document.getElementById("submit-papers");
    var iframe = document.getElementById("papersframe");
    
    // Adjusting the iframe height onload event
    iframe.onload = function(){
        container.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
{{ partial "subscribe.html" . }}

{{ end }}
