<nav id="drawer" class="drawer drop-shadow-left" aria-role="navigation">
    <button id="closeDrawer" class="closebtn" aria-label="Close navigation drawer" tabindex="0"></button>
    <div class="navlinks">
        {{ $showActiveNav := .Site.Params.showActiveNav }}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := "" }}
        {{ if eq $showActiveNav true }}
        {{ $isMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        {{ if or $isMenu (eq $currentPage.Title .Name) }}
        {{ $active = "nav-link-active active" }}
        {{ end }}
        {{ end }}
        <!-- {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }} -->
        {{ $text := print .Name | safeHTML }}
        <a class="nav-item nav-link {{ $active }} gta-event-navClick {{ .Identifier }}" href="{{ .URL }}">
            {{ $text }}
        </a>
        {{ end }}
    </div>
    <div class="social">
        {{ partial "social.html" . }}
        <a class="sr-only" id="closeLoop" aria-label="Return to close button" tabindex="0"></a>
    </div>
</nav>
