<div class="card flex-column align-items-center align-items-md-start flex-md-row">
    {{/* $img := strings.TrimPrefix "/uploads/" .Params.image }}
    {{ with $.Site.GetPage "page" "uploads/_index.md" }}
        {{ with .Resources.GetMatch $img }}
              {{$imgcrop := .Fill "118x112 Center" */}}

             <img class="img-thumbnail" src="{{ .Params.image }}" width="108px" height="72px" alt="" tabindex="0">

              {{/* end }}
    {{ end */}}
    <div class="card-body">
        <a class="text-center text-md-left" href="{{ .RelPermalink }}" tabindex="0"><h4 class="card-title mt-3 mt-md-0 ml-md-4" tabindex="0">{{ .Params.displaytitle }}</h4></a>
        <a class="readmore d-block d-md-inline ml-md-4 gta-event-CTAClick" href="{{ .RelPermalink }}" tabindex="0">READ MORE</a>
    </div>
</div>
