{{ if ne .Site.Params.hideFooter true }}
<footer id="footer" class=" p-xl-0 m-xl-0">
  <!-- <div class="container-fluid p-xl-0 m-xl-0"> -->
    {{ .Site.Params.footerText | markdownify }}
    <!-- <div class="row p-xl-0 m-xl-0"> -->
      <div class="row p-xl-0 m-xl-0">
        <div class="navlinks col-xl-8 offset-xl-1 col-md-10 col-sm-12 p-xl-0">
            {{/* $currentPage := . */}}
            {{ range .Site.Menus.main }}
                {{ $text := print .Name | safeHTML }}
                <a class="gta-event-navClick" tabindex="0" href="{{ .URL | relURL }}">
                    {{ $text }}
                </a>
            {{ end }}
            <a class="gta-event-navClick" tabindex="0" href="/contact">
                    Contact Us
                </a>
        </div>
        <div class="social col-md-2 col-xs-12 p-xl-0">
            {{ partial "social.html" . }}
        </div>
    <!-- </div>
    <div class="row break p-0 m-0"> -->
        <div class="break w-100 col-xl-10 offset-xl-1 p-xl-0">
            <hr>
        </div>
    <!-- </div>
    <div class="row copy p-0 m-0"> -->
        <div class="siteby col-xs-12 col-md-6 col-xl-5 offset-xl-1 p-xl-0" tabindex="0">
            Site by <a class="gta-event-navClick" href="https://www.hyperobjekt.com/" target="_blank" aria-haspopup="true">Hyperobjekt</a>
            <br>Map made possible by <a href="https://www.mapbox.com/" target="_blank" aria-haspopup="true">Mapbox</a>
        </div>
        <div class="institution col-xs-12 col-md-6 col-xl-5 p-xl-0" tabindex="0">
            <!--<img alt="Stanford logo" src="{{ "/images/stanford_wordmark.png" | relURL }}">-->
            {{ partial "stanford-logo" }}
        </div>
    <!-- </div> -->
  </div>
</footer>
{{ end }}
