<div class="modal fade" id="peopleBioModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-pic col-lg-4 col-md-4 col-sm-12">
                        <div id="modalImg" class="modal-image" tabindex="0"></div>
                    </div>
                    <div class="modal-bio col-lg-8 col-md-8 col-sm-12">
                        <div class="modal-meta">
                            <div id="modalName" tabindex="0"></div>
                            <div id="modalTitle" tabindex="0"></div>
                        </div>
                        <hr>
                        <div id="modalBio" tabindex="0"></div>
                        <div class="modal-nav">
                            <button type="button" class="btn-wire" data-dismiss="modal" aria-label="Close" tabindex="0">Previous bio</button>
                            <button type="button" class="btn-wire" data-dismiss="modal" aria-label="Close" tabindex="0">Next bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
