<div id="banner" class="container-fluid p-2 position-relative">
    <p class="m-0 text-md-center">NEW DATA COMING APRIL 12th: VERSION 4.1 of SEDA</p>
    <div id="closeBanner">
        <span></span>
        <span></span>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light">
    <!-- bg-white class on .navbar element makes bg white -->
    <div class="col-xs-12 col-xl-10 offset-xl-1 p-xl-0 flex-parent">
        <a class="navbar-brand position-relative gta-event-navClick" aria-level="1" aria-label="{{ .Page.Title }} at {{ .Site.Title }}" href="{{ "/" | relURL }}">
            <h1 class="sr-only">{{ .Page.Title }} at {{ .Site.Title }}</h1>
            <span class="badge position-absolute translate-middle p-1 d-none d-md-block">4.0</span>
        </a>
        <button class="drawer-toggle" id="toggleDrawer" type="button" aria-controls="#drawer" aria-label="Toggle navigation drawer">
            <span class="navbar-toggler-icon"></span>
            <!-- <span class="navbar-label">MENU</span> -->
        </button>
    </div>
</nav>
