<div id="banner" class="container-fluid p-2 position-relative" style="background-color: #ddeaf3;">
    <p class="m-0 text-center" style="color: rgb(39,53,66); font-family: 'SharpGrotesk-Medium20', 'Lato', 'Helvetica Neue', sans-serif;">VERSION 4.0 UPDATE: <a href="/whats-new" class="text-reset">Learn about the new data and features</a>, or <a href="/explorer" class="text-reset">start exploring</a></p>
    <div id="closeBanner" class="position-absolute" style="width: 22px; height: 22px; top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer;">
        <span class="position-absolute" style="width: 100%; height: 2px; background-color: black; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg);"></span>
        <span class="position-absolute" style="width: 100%; height: 2px; background-color: black; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg);"></span>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light">
    <!-- bg-white class on .navbar element makes bg white -->
    <div class="col-xs-12 col-xl-10 offset-xl-1 p-xl-0 flex-parent">
        <a class="navbar-brand position-relative gta-event-navClick" aria-level="1" aria-label="{{ .Page.Title }} at {{ .Site.Title }}" href="{{ "/" | absURL }}">
            <h1 class="sr-only">{{ .Page.Title }} at {{ .Site.Title }}</h1>
            <span class="badge border border-white text-white position-absolute translate-middle p-1 d-none d-md-block" style="top: 50%; right: -40px; transform: translate(50%, -60%);">4.0</span>
        </a>
        <button class="drawer-toggle" id="toggleDrawer" type="button" aria-controls="#drawer" aria-label="Toggle navigation drawer">
            <span class="navbar-toggler-icon"></span>
            <!-- <span class="navbar-label">MENU</span> -->
        </button>
    </div>
</nav>
