
<!-- <img src="{{ .image | relURL }}" alt="" width="" height=""> -->

<!-- Build map of params to call image partial -->
{{ $imgParams := newScratch }}
{{ $imgParams.Set "image" "test.jpg" }}
{{ $imgParams.Set "action" "Fill" }}
{{ $imgParams.Set "options" "141x136 Center" }}
{{ $imgParams.Set "alt" "Article image" }}
<!-- Call image partial -->
{{ partial "imgproc.html" (dict "context" . "imgParams" $imgParams ) }}


<h5>{{ .title }}</h5>
<div class="authors">
    {{ $len := (len .authors) }}
    {{range $index, $value := .authors}}
        {{ if eq (add $index 1) $len }}
            <span class="author">{{ $value }}</span>
        {{ else }}
            <span class="author last">{{ $value }}, </span>
        {{ end }}
    {{ end }}
</div>
{{ $sortedVersions := sort .versions "date" "desc" }}
<div class="controls">
    {{ range first 1 $sortedVersions }}
        <a id="{{ .link | relURL }}" class="btn btn-custom download-paper">Download Latest Version</a>
    {{ end }}
    <button id="" class="btn btn-custom show-versions">Show Previous Versions</button>
</div>
<div class="abstract" id="">
    {{ .abstract | markdownify }}
</div>
<div class="meta">
    <h4>Previous Versions</h4>
    <hr>
    {{range $sortedVersions }}
        <a href="{{ .link | relURL }}" class="version-link" aria-label="Download version from {{ .date }}">
            <span class="date">{{ .date }}</span>
            <span class="label">Download now</span>
        </a>
    {{ end }}
</div>
