{{ if (eq .Params.scatterplotID "article4" ) }}

    <div id="column-lollipop" class="col-12 offset-sm-0 d-md-block offset-1 col-md-8 col-lg-7 col-xl-7 offset-md-0 pl-md-0 pl-lg-2 column-plot">
      <div id="plot-parent" class="plot-parentLollipop">
        <div id="plotTitle" class="title" aria-live="assertive" aria-label="Lollipop chart title"><span class="sr-only">Lollipop chart title</span></div>
        <div id="plotDirections" class="directions text-center d-md-none" aria-live="assertive" aria-label="Lollipop chart directions"><span class="sr-only">Lollipop chart directions</span></div>
        <div id="rectangle" class="rectangle">
          <div id="lollipop" class="lollipop" aria-live="assertive" aria-relevant="all" aria-label="Dynamic test data lollipop chart"></div>
        </div>
      </div>
    </div>

{{ else if (eq .Params.scatterplotID "article3" ) }}

    <div id="column-scatterplot" class="col-10 col-sm-12 col-md-8 col-lg-7 col-xl-6 offset-1 offset-sm-0 offset-md-0 d-md-block pl-md-0 pl-lg-2 column-plot">
      <div id="plot-parent" class="plot-parent" style="">
        <div id="plotTitle" class="title" aria-live="assertive" aria-label="Scatterplot title"><span class="sr-only">Scatterplot title</span></div>
        <div id="plotDirections" class="directions text-center d-md-none" aria-live="assertive" aria-label="Scatterplot directions"><span class="sr-only">Scatterplot directions</span></div>
        <div id="rectangle" class="rectangle" style="">

          <div class="d-inline-block plot-legend" style="">
            <div class="legend-label">
              <div class="label">
                <span id="bot" class="bot"></span>
                <span id="middle" class="middle"></span>
                <span id="top" class="top"></span>
              </div>
            </div>
            <div class="legend"></div>
          </div>
          
          <div id="scatterplot" style="width: 100%" aria-live="assertive" aria-relevant="all" aria-label="Dynamic test data scatterplot"></div>
          
        </div>
      </div>
    </div>

{{else}}

    <div id="column-scatterplot" class="col-10 d-sm-none d-md-block offset-1 col-md-8 col-lg-7 col-xl-6 offset-md-0 pl-md-0 pl-lg-2 column-plot">
      <div id="plot-parent" class="plot-parent" style="">
        <div id="plotTitle" class="title" aria-live="assertive" aria-label="Scatterplot title"><span class="sr-only">Scatterplot title</span></div>
        <div id="plotDirections" class="directions text-center d-md-none" aria-live="assertive" aria-label="Scatterplot directions"><span class="sr-only">Scatterplot directions</span></div>
        <div id="plotSubtitle" class="subtitle" aria-live="assertive" aria-label="Scatterplot subtitle"><span class="sr-only">Scatterplot subtitle</span></div>
        <div class="search-component" id="searchComponent" style=""  aria-controls="scatterplot"></div>
        <div id="rectangle" class="rectangle" style="">
          <div id="scatterplot" style="" aria-live="assertive" aria-relevant="all" aria-label="Dynamic test data scatterplot"></div>
        </div>
      </div>
    </div>

{{end}}