<script src='https://polyfill.io/v3/polyfill.min.js?features=es2015%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.forEach%2CArray.prototype.includes%2CArray.prototype.map%2CArray.prototype.reduce%2CDate.now%2CJSON%2CObject.assign%2CPromise%2CPromise.prototype.finally%2Cconsole.log'></script>
<!-- scatterplot js files -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.8.4/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.4/umd/react-dom.production.min.js'></script>
<!-- <script src='https://unpkg.com/react-seda-scatterplot@1.3.2/umd/react-seda-scatterplot.min.js'></script> -->
{{/* <script  src="{{ "js/lib/react-seda-scatterplot.min.js" | relURL }}"></script> */}}
<script src='https://unpkg.com/deepmerge@2.2.1/dist/umd.js'></script>
<script src='https://unpkg.com/papaparse@4.6.3/papaparse.min.js'></script>
<script src='https://unpkg.com/react-seda-search@1.0.10/umd/react-seda-search.min.js'></script>

{{/* Load differently processed scripts depending upon local or production */}}
{{ if .Site.IsServer }}
  {{/* Site is served, local dev, don't minify */}}
  {{ $opts := dict "noComments" false "minified" false }}
  {{ $reactlib := resources.Get "js/lib/react-seda-scatterplot.min.js" }}
  {{ $scatterplot := resources.Get "js/src/scatterplot/Scatterplot.js" | babel $opts }}
  {{ $scatterplotjs := slice $reactlib $scatterplot | resources.Concat "js/scatterplot.js" | fingerprint }}
  <script src="{{ $scatterplotjs.Permalink }}"></script>
{{ else }}
  {{/* Site is not local, minify and remove comments. */}}
  {{ $opts := dict "noComments" true "minified" true }}
  {{ $reactlib := resources.Get "js/lib/react-seda-scatterplot.min.js" }}
  {{ $scatterplot := resources.Get "js/src/scatterplot/Scatterplot.js" | babel $opts }}
  {{ $scatterplotjs := slice $reactlib $scatterplot | resources.Concat "js/scatterplot.min.js" | fingerprint }}
  <script src="{{ $scatterplotjs.Permalink }}"></script>
{{ end }}

{{ if (eq .Params.scatterplotID "article1" )}}
  {{ $opts := dict "noComments" false "minified" false }}
  {{ $a := "js/src/scatterplot/article1.js" }}
  {{ $articlejs := resources.Get $a | babel $opts }}
  {{ $articlejsmin := slice $articlejs | resources.Concat "js/article1.min.js" | fingerprint }}
  <script src="{{ $articlejsmin.Permalink }}"></script>
{{ end }}

{{ if (eq .Params.scatterplotID "article2" )}}
{{ $opts := dict "noComments" false "minified" false }}
{{ $a := "js/src/scatterplot/article2.js" }}
{{ $articlejs := resources.Get $a | babel $opts }}
{{ $articlejsmin := slice $articlejs | resources.Concat "js/article2.min.js" | fingerprint }}
<script src="{{ $articlejsmin.Permalink }}"></script>
{{ end }}

{{ if (eq .Params.scatterplotID "article4" )}}
{{ $opts := dict "noComments" false "minified" false }}
{{ $a := "js/src/lollipopchart/article4.js" }}
{{ $articlejs := resources.Get $a | babel $opts }}
{{ $articlejsmin := slice $articlejs | resources.Concat "js/article4.min.js" | fingerprint }}
<script src="https://d3js.org/d3-dsv.v2.min.js"></script>
<script src="https://d3js.org/d3-fetch.v2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
<script src="{{ $articlejsmin.Permalink }}"></script>
{{ end }}

{{ if not (eq .Params.scatterplotID "article4" )}}
  {{ $opts := dict "noComments" false "minified" false }}
  {{ $plot := resources.Get "js/src/scatterplot/plot.js" | babel $opts }}
  {{ $plotjs := slice $plot | resources.Concat "js/plot.min.js" | fingerprint }}
  <script src="{{ $plotjs.Permalink }}"></script>
{{end}}
