<script src='https://polyfill.io/v3/polyfill.min.js?features=es2015%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.forEach%2CArray.prototype.includes%2CArray.prototype.map%2CArray.prototype.reduce%2CDate.now%2CJSON%2CObject.assign%2CPromise%2CPromise.prototype.finally%2Cconsole.log'></script>
<!-- scatterplot js files -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.8.4/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.4/umd/react-dom.production.min.js'></script>
<!-- <script src='https://unpkg.com/react-seda-scatterplot@1.3.2/umd/react-seda-scatterplot.min.js'></script> -->
<script  src="{{ "js/lib/react-seda-scatterplot.js" | absURL }}"></script>
<script src='https://unpkg.com/deepmerge@2.2.1/dist/umd.js'></script>
<script src='https://unpkg.com/papaparse@4.6.3/papaparse.min.js'></script>
<script src='https://unpkg.com/react-seda-search@1.0.10/umd/react-seda-search.min.js'></script>
<script  src="{{ "js/babel/scatterplot/Scatterplot.js" | absURL }}"></script>

<!-- Load article states -->
{{ $a := "js/babel/scatterplot/" }}
{{ $b := .Params.scatterplotID }}
{{ $c := ".js" }}
{{ $articlePath := (print $a $b $c)}}
<script  src="{{ $articlePath  | absURL }}"></script>
<!-- Load script to manage scrolling -->
<script  src="{{ "js/babel/scatterplot/plot.js"  | absURL }}"></script>
