{{ $jquery := resources.Get "js/lib/jquery.min.js" }}
{{ $anime := resources.Get "js/lib/anime.min.js" }}
{{ $bootstrap := resources.Get "js/lib/bootstrap.bundle.min.js" }}
{{ $js := slice $jquery $bootstrap $anime | resources.Concat "js/bundle.min.js" | fingerprint }}
<script src="{{ $js.Permalink }}"></script>

{{ if .Site.IsServer }}
  {{ $opts := dict "noComments" false "minified" false }}
  {{ $custom := resources.Get "js/src/seda-custom.js" | babel $opts }}
  {{ $analytics := resources.Get "js/src/analytics.js" | babel $opts }}
  {{ $scrollDepth := resources.Get "js/lib/scrollDepth.js" }}
  {{ $localslice := slice $scrollDepth $analytics $custom }}
  <!-- If site is being served (ostensibly dev) don't compress and minify -->
  {{ if eq .Site.Params.loadDevAnalytics true }}
    <!-- Load GA script to track scroll depth -->
    {{ $localjs := $localslice | resources.Concat "js/local.js" | fingerprint }}
    {{ template "_internal/google_analytics_async.html" }}
    <script src="{{ $localjs.Permalink }}"></script>
  {{ else }}
    {{ $localslice := slice $custom }}
    {{ $localjs := $localslice | resources.Concat "js/local.js" | fingerprint }}
    <script src="{{ $localjs.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $opts := dict "noComments" true "minified" true }}
  {{ $custom := resources.Get "js/src/seda-custom.js" | babel $opts }}
  {{ $analytics := resources.Get "js/src/analytics.js" | babel $opts }}
  {{ $scrollDepth := resources.Get "js/lib/scrollDepth.js" }}
  {{ template "_internal/google_analytics_async.html" }}
  {{ $localslice := slice $scrollDepth $analytics $custom }}
  {{ $localjs := $localslice | resources.Concat "js/local.min.js" | fingerprint }}
  <script src="{{ $localjs.Permalink }}"></script>
{{ end }}

{{ if ( in .Params.scripts "echarts" ) }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" integrity="sha512-TsNN9S3X3jnaUdLd+JpyR5yVSBvW9M6ruKKqJl5XiBpuzzyIMcBavigTAHaH50MJudhv5XIkXMOwBL7TbhXThQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js" integrity="sha512-Z/2pIbAzFuLlc7WIt/xifag7As7GuTqoBbLsVTgut69QynAIOclmweT6o7pkxVoGGfLcmPJKn/lnxyMNKBAKgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"></script>
  {{ $app := resources.Get "js/src/nam-discovery/index.js" }}
  <script src="{{ ($app | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ if (and ( in .Params.scripts "scatterplot" ) ( eq .Page.Kind "page" )) }}
    {{ partial "scatterplot-scripts.html" . }}
{{ end }}

{{ if eq .Page.Name "Get the Data" }}
  {{ partial "subscribe-scripts.html" . }}
{{ end }}
{{ if (and ( eq .Page.Type "media-map" ) ( eq .Page.Kind "section" )) }}
  {{ partial "media-map.html" . }}
{{ end }}
{{/*
<script>
// Used for testing GA reporting of JS errors.
const timeout = setTimeout(function() {
  console.log(_t_);
}, 4000);
</script>
*/}}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
