<script src="{{ "js/jquery.min.js" | absURL }}"></script>
{{ if eq .Site.Params.includeBootstrapJs true }}
    <!-- <script src="{{ "js/jquery-3.3.1.slim.min.js" | absURL }}"></script> -->
    <script src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
{{ end }}
<script src="{{ "js/anime.min.js" | absURL }}"></script>
<script src="{{ "js/seda-custom.js" | absURL }}"></script>

{{ if .Site.IsServer }}
  {{ if eq .Site.Params.loadDevAnalytics true }}
    {{ template "_internal/google_analytics_async.html" }}
    <script  src="{{ "js/analytics.js"  | absURL }}"></script>
  {{ end }}
{{ else }}
  {{ template "_internal/google_analytics_async.html" }}
  <script  src="{{ "js/analytics.js"  | absURL }}"></script>
{{ end }}

{{ if (and ( eq .Page.Type "discoveries" ) ( eq .Page.Kind "page" )) }}
    {{ partial "scatterplot-scripts.html" . }}
{{ end }}

{{ if eq .Page.Name "Get the Data" }}
  {{ partial "subscribe-scripts.html" . }}
{{ end }}
<script>
// Used for testing GA reporting of JS errors.
// const timeout = setTimeout(function() {
//   console.log(_t_);
// }, 4000);
</script>
