<script src='https://polyfill.io/v3/polyfill.min.js?features=es2015%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.forEach%2CArray.prototype.includes%2CArray.prototype.map%2CArray.prototype.reduce%2CDate.now%2CJSON%2CObject.assign%2CPromise%2CPromise.prototype.finally%2Cconsole.log'></script>

<script src="{{ "js/jquery.min.js" | absURL }}"></script>
{{ if eq .Site.Params.includeBootstrapJs true }}
    <!-- <script src="{{ "js/jquery-3.3.1.slim.min.js" | absURL }}"></script> -->
    <script src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
{{ end }}
<script src="{{ "js/anime.min.js" | absURL }}"></script>
<script src="{{ "js/seda-custom.js" | absURL }}"></script>

{{ if .Site.IsServer }}
  {{ if eq .Site.Params.loadDevAnalytics true }}
    {{ template "_internal/google_analytics_async.html" }}
    <script  src="{{ "js/analytics.js"  | absURL }}"></script>
  {{ end }}
{{ else }}
  {{ template "_internal/google_analytics_async.html" }}
  <script  src="{{ "js/analytics.js"  | absURL }}"></script>
{{ end }}

{{ if (and ( eq .Page.Type "discoveries" ) ( eq .Page.Kind "page" )) }}
    {{ partial "scatterplot-scripts.html" . }}
{{ end }}

{{ if eq .Page.Name "Get the Data" }}
  {{ partial "subscribe-scripts.html" . }}
{{ end }}
<script>
// Used for testing GA reporting of JS errors.
// const timeout = setTimeout(function() {
//   console.log(_t_);
// }, 4000);
</script>
