<svg style="opacity:0" width="388px" height="286px" viewBox="0 0 388 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="25.4409752%" y1="42.6637841%" x2="1.41862032%" y2="40.0933224%" id="linearGradient-1">
            <stop stop-color="#60EFCE" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="14.9288688%" y1="46.8867531%" x2="2.67023687%" y2="46.0386978%" id="linearGradient-2">
            <stop stop-color="#34BFEF" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="29.8684299%" y1="49.6021952%" x2="0%" y2="48.9471429%" id="linearGradient-3">
            <stop stop-color="#257EC9" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="illustration-3-V15-Copy" transform="translate(-839.000000, -141.000000)">
            <g id="trendgraphic-g" transform="translate(829.000000, 141.610908)">
              
                <g id="trendlines" transform="translate(41.773438, 33.029191)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M0.5000005,145.788593 C29.9176664,148.393725 72.4801853,126.921913 128.187557,81.3731561 C211.748615,13.0500211 281.901759,1.78301818e-13 321.5,0" id="greenline" stroke="url(#linearGradient-1)"></path>
                        <path d="M-3.97903932e-13,168.891639 C66.3684896,167.87048 108.101546,150.331812 158.978365,120.389324 C239.5,73 266.368281,76.9923406 321.5,74" id="medblueline" stroke="url(#linearGradient-2)"></path>
                        <path d="M1.3018915,191.251851 C61.0161863,192.770883 117.403837,186.140234 170.464844,171.359901 C250.056354,149.189402 276.724891,146.952724 321.5,145" id="dkblueline" stroke="url(#linearGradient-3)"></path>
                </g>
                
                <g id="grnschool" transform="translate(28, 0)" style="opacity: 0">
                        <polygon class="grnschoolshape" id="Rectangle-Copy-234" fill="#60EFCE" fill-rule="nonzero" points="0.7265625 12.359901 20.0644531 12.359901 39.7265625 12.359901 39.7265625 54.359901 0.7265625 54.359901"></polygon>
                        <rect class="grnschoolshape" id="Rectangle-Copy-235" fill="#17A080" fill-rule="nonzero" x="17.7265625" y="44.359901" width="5" height="10"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-296" fill="#17A080" fill-rule="nonzero" x="11.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-297" fill="#17A080" fill-rule="nonzero" x="11.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-298" fill="#17A080" fill-rule="nonzero" x="11.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-299" fill="#17A080" fill-rule="nonzero" x="25.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-300" fill="#17A080" fill-rule="nonzero" x="25.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-301" fill="#17A080" fill-rule="nonzero" x="25.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-302" fill="#17A080" fill-rule="nonzero" x="18.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-303" fill="#17A080" fill-rule="nonzero" x="18.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-304" fill="#17A080" fill-rule="nonzero" x="18.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-305" fill="#17A080" fill-rule="nonzero" x="32.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-306" fill="#17A080" fill-rule="nonzero" x="32.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-307" fill="#17A080" fill-rule="nonzero" x="32.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-308" fill="#17A080" fill-rule="nonzero" x="4.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-309" fill="#17A080" fill-rule="nonzero" x="4.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="grnschoolshape" id="Rectangle-Copy-310" fill="#17A080" fill-rule="nonzero" x="4.7265625" y="35.359901" width="3" height="5"></rect>
                        <polygon class="grnschoolshape" id="Triangle" fill="#60EFCE" points="19.7265625 0.359901022 39.7265625 12.359901 0.7265625 12.359901"></polygon>
                    </g>
                <g id="medblueschool" transform="translate(28, 0)" style="opacity: 0">
                    <g id="Group-54" transform="translate(0.726562, 12.359901)" fill-rule="nonzero">
                        <polygon class="mbschoolshape" id="Rectangle-Copy-4" fill="#34BFEF" points="7.2475359e-13 7.2475359e-13 18.3251163 7.2475359e-13 36.9574713 7.2475359e-13 36.9574713 41.7596478 7.2475359e-13 41.7596478"></polygon>
                        <rect class="mbschoolshape" id="Rectangle-Copy-196" fill="#1F87B9" x="15.9057471" y="31.8168745" width="5.14597701" height="9.94277329"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-261" fill="#1F87B9" x="10.291954" y="13.4227439" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-271" fill="#1F87B9" x="10.291954" y="3.97710932" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-266" fill="#1F87B9" x="10.291954" y="22.8683786" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-262" fill="#1F87B9" x="23.3908046" y="13.4227439" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-272" fill="#1F87B9" x="23.3908046" y="3.97710932" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-267" fill="#1F87B9" x="23.3908046" y="22.8683786" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-263" fill="#1F87B9" x="16.8413793" y="13.4227439" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-273" fill="#1F87B9" x="16.8413793" y="3.97710932" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-268" fill="#1F87B9" x="16.8413793" y="22.8683786" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-264" fill="#1F87B9" x="29.9402299" y="13.4227439" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-274" fill="#1F87B9" x="29.9402299" y="3.97710932" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-269" fill="#1F87B9" x="29.9402299" y="22.8683786" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-265" fill="#1F87B9" x="3.74252874" y="13.4227439" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-275" fill="#1F87B9" x="3.74252874" y="3.97710932" width="3.27471264" height="5.46852531"></rect>
                        <rect class="mbschoolshape" id="Rectangle-Copy-270" fill="#1F87B9" x="3.74252874" y="22.8683786" width="3.27471264" height="5.46852531"></rect>
                    </g>
                    <polygon class="mbschoolshape" id="Triangle-Copy" fill="#34BFEF" points="18.7522035 0.359901022 37.7265625 12.359901 0.7265625 12.359901"></polygon>
                </g>
                
                <g id="dkblueschool" transform="translate(28, 11)" style="opacity: 0">
                        <polygon class="schoolshape" id="Rectangle-Copy-232" fill="#257EC9" fill-rule="nonzero" points="0.7265625 12.359901 20.0644531 12.359901 39.7265625 12.359901 39.7265625 54.359901 0.7265625 54.359901"></polygon>
                        <rect class="schoolshape" id="Rectangle-Copy-233" fill="#083474" fill-rule="nonzero" x="17.7265625" y="44.359901" width="5" height="10"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-276" fill="#083474" fill-rule="nonzero" x="11.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-277" fill="#083474" fill-rule="nonzero" x="11.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-279" fill="#083474" fill-rule="nonzero" x="11.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-280" fill="#083474" fill-rule="nonzero" x="25.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-282" fill="#083474" fill-rule="nonzero" x="25.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-283" fill="#083474" fill-rule="nonzero" x="25.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-285" fill="#083474" fill-rule="nonzero" x="18.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-286" fill="#083474" fill-rule="nonzero" x="18.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-288" fill="#083474" fill-rule="nonzero" x="18.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-289" fill="#083474" fill-rule="nonzero" x="32.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-291" fill="#083474" fill-rule="nonzero" x="32.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-292" fill="#083474" fill-rule="nonzero" x="32.7265625" y="35.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-293" fill="#083474" fill-rule="nonzero" x="4.7265625" y="26.359901" width="3" height="5"></rect>
                        <rect class="schoolshape" id="Rectangle-Copy-294" fill="#083474" fill-rule="nonzero" x="4.7265625" y="16.359901" width="3" height="5"></rect>
                        <rect class="schoolshape"id="Rectangle-Copy-295" fill="#083474" fill-rule="nonzero" x="4.7265625" y="35.359901" width="3" height="5"></rect>
                        <polygon class="schoolshape" id="Triangle-Copy-2" fill="#257EC9" points="19.7265625 0.359901022 39.7265625 12.359901 0.7265625 12.359901"></polygon>
                    </g>
       
                <g id="x-axis-trend-2" transform="translate(42.273438, 245.779191)" stroke="#B2DBFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path id="x-axis-line" d="M0,9.75 L353,9.25" id="x-line"></path>
                    <g id="x-axis-cap" transform="translate(346.000000, 0.609901)">
                        <path d="M8.56541441,8.56541417 L0,-2.27373675e-13" id="Line-11-Copy"></path>
                        <path d="M8.56541441,17.5654142 L0,9" id="Line-11-Copy-3" transform="translate(4.282707, 13.282707) scale(1, -1) translate(-4.282707, -13.282707) "></path>
                    </g>
                </g>
                <g id="y-axis-trend" transform="translate(32.478516, 0.000000)" stroke="#B2DBFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path id="y-axisline" d="M9.70507812,255.029191 L9.29492188,2" id="y-line"></path>
                    
                    <g id="y-axis-cap" transform="translate(9.521484, 5.021043) rotate(-90.000000) translate(-9.521484, -5.021043) translate(5.021484, -3.978957)">
                        <path d="M8.56541437,8.56541413 L4.54747351e-13,0" id="Line-11-Copy-5" transform="translate(4.282707, 4.282707) rotate(-0.000000) translate(-4.282707, -4.282707) "></path>
                        <path d="M8.56541437,17.5654141 L2.27373675e-13,8.99999996" id="Line-11-Copy-4" transform="translate(4.282707, 13.282707) scale(1, -1) rotate(-0.000000) translate(-4.282707, -13.282707) "></path>
                    </g>
                </g>
                <g id="trendtext" transform="translate(0.000000, 95.389092)" fill="#B2DBFF" font-family="SharpGrotesk-Medium20, Sharp Grotesk" font-size="20" font-weight="500" line-spacing="38">
                    <text id="t2009" style="opacity: 0">
                        <tspan x="52" y="188">2009</tspan>
                    </text>
                    <text id="Scores" style="opacity: 0" transform="translate(19.000000, 36.000000) rotate(-90.000000) translate(-19.000000, -36.000000) ">
                        <tspan x="-36" y="44">Opportunity</tspan>
                    </text>
                    <text id="t2016" style="opacity: 0">
                        <tspan x="321" y="188">2016</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>
