<svg width="388px" height="286px" id="" viewBox="0 0 388 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="29.8684299%" y1="49.5929678%" x2="0%" y2="48.922721%" id="linearGradient-1">
            <stop stop-color="#257EC9" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="14.9288688%" y1="46.8511208%" x2="2.67023687%" y2="45.9933592%" id="linearGradient-2">
            <stop stop-color="#34BFEF" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="25.4409752%" y1="42.6637841%" x2="1.41862032%" y2="40.0933224%" id="linearGradient-3">
            <stop stop-color="#60EFCE" offset="0%"></stop>
            <stop stop-color="#F5F8FA" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="illustration-3-V15-Copy-3" transform="translate(-839.000000, -141.000000)">
            <g id="Group" transform="translate(834.000000, 141.631951)">
                <g id="Dark-Blue-school" transform="translate(37.273438, 149.008148)">
                   <path d="M321,29 C276.224891,30.9527242 249.045213,26.0218621 170.066119,53.0813519 C117.41339,71.1210119 60.9919808,78.5111781 0.8018915,75.2518507" id="Line-11-Copy-12" stroke="url(#linearGradient-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <polygon id="Rectangle-Copy-232" fill="#257EC9" fill-rule="nonzero" points="292.726562 12.359901 312.064453 12.359901 331.726562 12.359901 331.726562 54.359901 292.726562 54.359901"></polygon>
                    <rect id="Rectangle-Copy-233" fill="#083474" fill-rule="nonzero" x="309.726562" y="44.359901" width="5" height="10"></rect>
                    <rect id="Rectangle-Copy-276" fill="#083474" fill-rule="nonzero" x="303.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-277" fill="#083474" fill-rule="nonzero" x="303.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-279" fill="#083474" fill-rule="nonzero" x="303.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-280" fill="#083474" fill-rule="nonzero" x="317.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-282" fill="#083474" fill-rule="nonzero" x="317.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-283" fill="#083474" fill-rule="nonzero" x="317.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-285" fill="#083474" fill-rule="nonzero" x="310.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-286" fill="#083474" fill-rule="nonzero" x="310.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-288" fill="#083474" fill-rule="nonzero" x="310.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-289" fill="#083474" fill-rule="nonzero" x="324.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-291" fill="#083474" fill-rule="nonzero" x="324.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-292" fill="#083474" fill-rule="nonzero" x="324.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-293" fill="#083474" fill-rule="nonzero" x="296.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-294" fill="#083474" fill-rule="nonzero" x="296.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-295" fill="#083474" fill-rule="nonzero" x="296.726562" y="35.359901" width="3" height="5"></rect>
                    <polygon id="Triangle-Copy-2" fill="#257EC9" points="311.726562 0.359901022 331.726562 12.359901 292.726562 12.359901"></polygon>
                   
                </g>
                <g id="Med-Blue-school" transform="translate(38.000000, 87.368049)">
                  <path d="M329.273438,21.640099 C274.141718,24.6324396 226.273438,24.6324396 157.751802,68.0294233 C112.070712,96.9607458 59.5779238,113.164304 0.2734375,116.640099" id="Line-11-Copy-11" stroke="url(#linearGradient-2)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <polygon id="Rectangle-Copy-4" fill="#34BFEF" fill-rule="nonzero" points="239 12 257.325116 12 275.957471 12 275.957471 53.7596478 239 53.7596478"></polygon>
                    <rect id="Rectangle-Copy-196" fill="#1F87B9" fill-rule="nonzero" x="254.905747" y="43.8168745" width="5.14597701" height="9.94277329"></rect>
                    <rect id="Rectangle-Copy-261" fill="#1F87B9" fill-rule="nonzero" x="249.291954" y="25.4227439" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-271" fill="#1F87B9" fill-rule="nonzero" x="249.291954" y="15.9771093" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-266" fill="#1F87B9" fill-rule="nonzero" x="249.291954" y="34.8683786" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-262" fill="#1F87B9" fill-rule="nonzero" x="262.390805" y="25.4227439" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-272" fill="#1F87B9" fill-rule="nonzero" x="262.390805" y="15.9771093" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-267" fill="#1F87B9" fill-rule="nonzero" x="262.390805" y="34.8683786" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-263" fill="#1F87B9" fill-rule="nonzero" x="255.841379" y="25.4227439" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-273" fill="#1F87B9" fill-rule="nonzero" x="255.841379" y="15.9771093" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-268" fill="#1F87B9" fill-rule="nonzero" x="255.841379" y="34.8683786" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-264" fill="#1F87B9" fill-rule="nonzero" x="268.94023" y="25.4227439" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-274" fill="#1F87B9" fill-rule="nonzero" x="268.94023" y="15.9771093" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-269" fill="#1F87B9" fill-rule="nonzero" x="268.94023" y="34.8683786" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-265" fill="#1F87B9" fill-rule="nonzero" x="242.742529" y="25.4227439" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-275" fill="#1F87B9" fill-rule="nonzero" x="242.742529" y="15.9771093" width="3.27471264" height="5.46852531"></rect>
                    <rect id="Rectangle-Copy-270" fill="#1F87B9" fill-rule="nonzero" x="242.742529" y="34.8683786" width="3.27471264" height="5.46852531"></rect>
                    <polygon id="Triangle-Copy" fill="#34BFEF" points="257.025641 0 276 12 239 12"></polygon>
                    
                </g>
                <g id="Green-school" transform="translate(37.273438, 25.008148)">
                   <path d="M328,8 C288.401759,8 211.248615,21.0500211 127.687557,89.3731561 C71.9801853,134.921913 29.4176664,156.393725 4.9999835e-07,153.788593" id="Line-11-Copy-10" stroke="url(#linearGradient-3)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <polygon id="Rectangle-Copy-234" fill="#60EFCE" fill-rule="nonzero" points="190.726562 12.359901 210.064453 12.359901 229.726562 12.359901 229.726562 54.359901 190.726562 54.359901"></polygon>
                    <rect id="Rectangle-Copy-235" fill="#17A080" fill-rule="nonzero" x="207.726562" y="44.359901" width="5" height="10"></rect>
                    <rect id="Rectangle-Copy-296" fill="#17A080" fill-rule="nonzero" x="201.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-297" fill="#17A080" fill-rule="nonzero" x="201.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-298" fill="#17A080" fill-rule="nonzero" x="201.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-299" fill="#17A080" fill-rule="nonzero" x="215.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-300" fill="#17A080" fill-rule="nonzero" x="215.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-301" fill="#17A080" fill-rule="nonzero" x="215.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-302" fill="#17A080" fill-rule="nonzero" x="208.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-303" fill="#17A080" fill-rule="nonzero" x="208.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-304" fill="#17A080" fill-rule="nonzero" x="208.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-305" fill="#17A080" fill-rule="nonzero" x="222.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-306" fill="#17A080" fill-rule="nonzero" x="222.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-307" fill="#17A080" fill-rule="nonzero" x="222.726562" y="35.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-308" fill="#17A080" fill-rule="nonzero" x="194.726562" y="26.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-309" fill="#17A080" fill-rule="nonzero" x="194.726562" y="16.359901" width="3" height="5"></rect>
                    <rect id="Rectangle-Copy-310" fill="#17A080" fill-rule="nonzero" x="194.726562" y="35.359901" width="3" height="5"></rect>
                    <polygon id="Triangle" fill="#60EFCE" points="209.726562 0.359901022 229.726562 12.359901 190.726562 12.359901"></polygon>
                </g>
                <g id="Wrapper-group">
                    <!--<animateTransform attributeName="transform"
    type="translate"
    from="0 20"
    to="0 0"
    begin="0s"
    dur="0.3s"
    repeatCount="0"
  />-->
                    <g id="Arrow-right" transform="translate(383.273438, 246.368049)" stroke="#B2DBFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M8.56541441,8.56541417 L0,-2.27373675e-13" id="Line-11-Copy"></path>
                        <path d="M8.56541441,17.5654142 L0,9" id="Line-11-Copy-3" transform="translate(4.282707, 13.282707) scale(1, -1) translate(-4.282707, -13.282707) "></path>
                    </g>
                    <g id="Arrow-top" transform="translate(37.000000, 5.000000) rotate(-90.000000) translate(-37.000000, -5.000000) translate(32.500000, -4.000000)" stroke="#B2DBFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M8.56541437,8.56541413 L4.54747351e-13,0" id="Line-11-Copy-5" transform="translate(4.282707, 4.282707) rotate(-0.000000) translate(-4.282707, -4.282707) "></path>
                        <path d="M8.56541437,17.5654141 L2.27373675e-13,8.99999996" id="Line-11-Copy-4" transform="translate(4.282707, 13.282707) scale(1, -1) rotate(-0.000000) translate(-4.282707, -13.282707) "></path>
                    </g>
                    <path d="M390.273438,255.008148 L37.273438,255.508148" id="Line-11" stroke="#B2DBFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M37.1835938,255.008148 L36.7734375,1.97895713" id="Line-3" stroke="#B2DBFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <text id="2009" font-family="SharpGrotesk-Medium20, Sharp Grotesk" font-size="18" font-weight="500" fill="#B2DBFF">
                        <tspan x="47" y="284.368049">2009</tspan>
                    </text>
                    <text id="Scores" transform="translate(12.000000, 131.368049) rotate(-90.000000) translate(-12.000000, -131.368049) " font-family="SharpGrotesk-Medium20, Sharp Grotesk" font-size="20" font-weight="500" fill="#B2DBFF">
                        <tspan x="-24" y="139.368049">Scores</tspan>
                    </text>
                    <text id="2016" font-family="SharpGrotesk-Medium20, Sharp Grotesk" font-size="18" font-weight="500" fill="#B2DBFF">
                        <tspan x="316" y="284.368049">2016</tspan>
                    </text>
                </g>    
            </g>
        </g>
    </g>
</svg>