<div class="tab-pane active mt-6" id="version4">

    <div class="row pb-8">

            <div class="col-12 col-md-4 offset-md-2 mt-6">
                    <p>
                            The Stanford Education Data Archive (SEDA) includes a number of publicly available data files, the technical documentation and data codebooks, listed on the following page. Data files are available in Stata (v13) and .csv formats.
                    </p>
                    <p>   
                            In publications, please cite the data as:<br /><br />
                            Reardon, S. F., Ho, A. D., Shear, B. R., Fahle, E. M., Kalogrides, D., Jang, H., & Chavez, B. (2021).<br /> 
                            Stanford Education Data Archive (Version 4.0). Retrieved from <a href="http://purl.stanford.edu/db586ns4974">http://purl.stanford.edu/db586ns4974</a>.
                    </p>
                    <p>        
                            If you have questions or note errors in the data, please contact us at <a href="mailto:sedasupport@stanford.edu">sedasupport@stanford.edu</a>
                    </p>
                </div>    
                    <div class="p-4 blue-bg mt-4 col-12 col-md-4">
                        <h3 class="mb-2">Version 4.0 Notes</h3> 
                        <p>       
                                The currently available data include district and county level average achievement (for all students and by race/ethnicity and gender), district and county level racial/ethnic and gender achievement gaps, and district level demographic/socioeconomic data. The most recent release (currently, Version 4.0) should always be used for reporting and analysis. Previous versions of the data are still available to facilitate research replication. Please review the technical documentation and codebooks that accompany the data sets. These documents review the data construction process and describes the contents of each file.
                        </p>
                    </div>    
                
    </div>
    <div class="row alt-bg mx-0 px-2 py-8">
        <div class="col-12 col-md-8 mx-auto mb-1">
            <h5 class="mb-4">Version 4.0</h5>
                <p>        This page contains four sets of files:</p>
                <ol><li><a href="#documentation-4" data-scroll-target="documentation-3" class="scroll-to-target">Technical Documentation and Codebooks</a>
                </li><li><a href="#testscore-4" data-scroll-target="testscore-3" class="scroll-to-target">Test Score Estimates: Means, Standard Deviations, and Achievement Gaps</a>
                </li><li><a href="#covariate-4" data-scroll-target="covariate-3" class="scroll-to-target">Covariate Data Files</a>
                </li><li><a href="#ancillary-4" data-scroll-target="ancillary-3" class="scroll-to-target">Ancillary Data Files</a>
                </li></ol>
        </div>
    </div>        
    <div class="row py-8">
        <div class="col-12 col-md-8 mx-auto">
                <p class=""><a name="documentation-4" id="documentation-4"></a></p>
                <table class="table-responsive gta-event-dataDownload">
                        <tr>
                          <th colspan="2" class="text-center">Technical Documentation and Codebooks</th>
                          
                        </tr>
                        <tr style="background:#efefef">
                          <td class="font-weight-bold">File Name</td>
                          <td  class="font-weight-bold">Download</td>
                        </tr>
                        <tr>
                          <td>SEDA_documentation_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_documentation_4.0.pdf" download>PDF</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_school_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_school_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_geodist_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_geodist_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_county_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_county_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                            <td>seda_codebook_commzone_4.0</td>
                            <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_commzone_4.0.xlsx">Excel</a></td>
                          </tr>
                        <tr>
                          <td>seda_codebook_metro_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_metro_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                            <td>seda_codebook_state_4.0</td>
                            <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_state_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_cov_school_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_cov_school_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_cov_geodist_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_cov_geodist_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_cov_county_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_cov_county_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                            <td>seda_codebook_cov_metro_4.0</td>
                            <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_cov_metro_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                            <td>seda_codebook_cov_state_4.0</td>
                            <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_cov_state_4.0.xlsx">Excel</a></td>
                        </tr>
                        <tr>
                          <td>seda_codebook_crosswalk_4.0</td>
                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_codebook_crosswalk_4.0.xlsx">Excel</a></td>
                        </tr>
                      </table>
        </div>
    </div>



    <div class="row alt-bg mx-0 px-2 py-8">
        <div class="col-12 col-md-10 col-xl-11 mx-auto">
            <p class="big-superhead text-right">
              Scroll for download links&nbsp; ►
            </p>
            <p class=""><a name="testscore-4" id="testscore-4"></a></p>
            <table class="table-responsive gta-event-dataDownload">
                    <tr>
                      <th colspan="20" class="text-center font-weight-bold">Test Score Estimations: Means and Achievement Gaps</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr style="background:#efefef">
                      <td class="font-weight-bold" rowspan="3">File Name</td>
                      <td class="font-weight-bold" rowspan="3">Form</td>
                      <td class="font-weight-bold" rowspan="3">Metric</td>
                      <td class="font-weight-bold text-center" colspan="6">Unit</td>
                      <td class="font-weight-bold text-center" colspan="3">Disaggregated by</td>
                      <td class="font-weight-bold text-center" colspan="7">Subgroups</td>
                      <td class="font-weight-bold text-center" colspan="2">Download</td>
                    </tr>
                    <tr style="background:#efefef">
                      <td class="font-weight-bold" rowspan="2">School</td>
                      <td class="font-weight-bold" rowspan="2">Geographic District</td>
                      <td class="font-weight-bold" rowspan="2">County</td>
                      <td class="font-weight-bold" rowspan="2">Metro</td>
                      <td class="font-weight-bold" rowspan="2">CZ</td>
                      <td class="font-weight-bold" rowspan="2">State</td>
                      <td class="font-weight-bold" rowspan="2">Year</td>
                      <td class="font-weight-bold" rowspan="2">Grade</td>
                      <td class="font-weight-bold" rowspan="2">Subject</td>
                      <td class="font-weight-bold" colspan="4" rowspan="1">Means</td>            
                      <td class="text-center font-weight-bold" colspan="3">Gaps</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr style="background:#efefef">
                      <td class="font-weight-bold">All</td>
                      <td class="font-weight-bold">Race</td>
                      <td class="font-weight-bold">Gender</td>
                      <td class="font-weight-bold">ECD</td>
                      <td class="font-weight-bold">Race</td>
                      <td class="font-weight-bold">Gender</td>
                      <td class="font-weight-bold">ECD</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>seda_school_pool_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_school_pool_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_school_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_school_pool_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_school_pool_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_school_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_long_CS_4.0</td>
                      <td>Long</td>
                      <td>CS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_long_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_long_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_long_GCS_4.0</td>
                      <td>Long</td>
                      <td>GCS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_long_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_long_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_poolsub_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_poolsub_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_poolsub_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_poolsub_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_poolsub_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_poolsub_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_pool_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_pool_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_geodist_pool_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_pool_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_geodist_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_long_CS_4.0</td>
                      <td>Long</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_long_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_long_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_long_GCS_4.0</td>
                      <td>Long</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_long_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_long_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_poolsub_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_poolsub_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_poolsub_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_poolsub_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_poolsub_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_poolsub_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_pool_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_pool_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_county_pool_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_pool_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_county_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_long_CS_4.0</td>
                      <td>Long</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_long_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_long_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_long_GCS_4.0</td>
                      <td>Long</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_long_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_long_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_poolsub_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_poolsub_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_poolsub_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_poolsub_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_poolsub_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_poolsub_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_pool_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_pool_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_metro_pool_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_pool_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_metro_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_long_CS_4.0</td>
                      <td>Long</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_long_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_long_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_long_GCS_4.0</td>
                      <td>Long</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_long_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_long_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_poolsub_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_poolsub_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_poolsub_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_poolsub_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_poolsub_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_poolsub_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_pool_CS_4.0</td>
                      <td>Pooled</td>
                      <td>CS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_pool_cs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                      <td>seda_commzone_pool_GCS_4.0</td>
                      <td>Pooled</td>
                      <td>GCS</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td>X</td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_pool_gcs_4.0.dta">Stata</a></td>
                      <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_commzone_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_long_cs_4.0</td>
                        <td>Long </td>
                        <td>CS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_long_cs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_long_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_long_gcs_4.0</td>
                        <td>Long </td>
                        <td>GCS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_long_gcs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_long_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_poolsub_cs_4.0</td>
                        <td>Pooled </td>
                        <td>CS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_poolsub_cs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_poolsub_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_poolsub_gcs_4.0</td>
                        <td>Pooled </td>
                        <td>GCS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_poolsub_gcs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_poolsub_gcs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_pool_cs_4.0</td>
                        <td>Pooled </td>
                        <td>CS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_pool_cs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_pool_cs_4.0.csv">CSV</a></td>
                    </tr>
                    <tr>
                        <td>seda_state_pool_gcs_4.0</td>
                        <td>Pooled </td>
                        <td>GCS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_pool_gcs_4.0.dta">Stata</a></td>
                        <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_state_pool_gcs_4.0.csv">CSV</a></td>
                    </tr>
                  </table>
        </div>
    </div>
    
    <div class="row py-8">
            <div class="col-12 col-md-10 mx-auto">
                <p class=""><a name="covariate-4" id="covariate-4"></a></p>
                    <table class="table-responsive gta-event-dataDownload">
                              <tr>
                                <th colspan="7" class="text-center font-weight-bold">Covariate Data</th>
                                
                              </tr>
                              <tr style="background:#efefef">
                                <td class="font-weight-bold">File Name</td>
                                <td class="font-weight-bold">Form</td>
                                <td colspan="3" class="text-center font-weight-bold">Disaggregated by</td>
                                
                                <td colspan="2" class="text-center font-weight-bold">Download</td>
                               
                              </tr>
                              <tr style="background:#efefef">
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">Unit</td>
                                <td class="font-weight-bold">Year</td>
                                <td class="font-weight-bold">Grade</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_school_pool_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_school_pool_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_school_pool_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_geodist_long_4.0</td>
                                <td>Long</td>
                                <td>X</td>
                                <td>X</td>
                                <td>X</td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_geodist_poolyr_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td>X</td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_geodist_pool_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_county_long_4.0</td>
                                <td>Long</td>
                                <td>X</td>
                                <td>X</td>
                                <td>X</td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_long_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_long_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_county_poolyr_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td>X</td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_poolyr_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_poolyr_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_county_pool_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_pool_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_county_pool_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_metro_long_4.0</td>
                                <td>Long</td>
                                <td>X</td>
                                <td>X</td>
                                <td>X</td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_long_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_long_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_metro_poolyr_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td>X</td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_poolyr_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_poolyr_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>SEDA_cov_metro_pool_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_pool_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_metro_pool_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>seda_cov_state_long_4.0</td>
                                <td>Long</td>
                                <td>X</td>
                                <td>X</td>
                                <td>X</td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_long_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_long_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>seda_cov_state_poolyr_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td>X</td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_poolyr_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_poolyr_4.0.csv">CSV</a></td>
                              </tr>
                              <tr>
                                <td>seda_cov_state_pool_4.0</td>
                                <td>Pooled</td>
                                <td>X</td>
                                <td></td>
                                <td></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_pool_4.0.dta">Stata</a></td>
                                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_state_pool_4.0.csv">CSV</a></td>
                              </tr>
                            </table>
                           
            </div>
        </div>

        <div class="row alt-bg mx-0 px-2 py-8">
                <div class="col-12 col-md-10 mx-auto">
                    <p class=""><a name="ancillary-4" id="ancillary-4"></a></p>
                        <table class="table-responsive mb-9 gta-event-dataDownload">
                               
                                        <tr>
                                          <th colspan="6" class="text-center font-weight-bold">Ancillary Data</th>
                                          
                                        </tr>
                                        <tr>
                                          <td class="text-center font-weight-bold">File Name</td>
                                          <td colspan="3" class="text-center font-weight-bold">Disaggregated by</td>
                                         
                                          <td colspan="2" class="text-center font-weight-bold">Download</td>
                                          
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td>School</td>
                                          <td>District</td>
                                          <td>Year</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>SEDA_crosswalk_4.0</td>
                                          <td>X</td>
                                          <td></td>
                                          <td>X</td>
                                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_crosswalk_4.0.dta">Stata</a></td>
                                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_crosswalk_4.0.csv">CSV</a></td>
                                        </tr>
                                        <tr>
                                          <td>seda_shapefiles_2019_4.0</td>
                                          <td></td>
                                          <td>X</td>
                                          <td></td>
                                          <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/seda_shapefiles_2019_4.0.zip">ZIP</a></td>
                                          <td></td>
                                        </tr>
                                      </table>
                               
                </div>
            </div>
    

</div><!-- end tab pane--> 
