<!-- Version 2.0 -->

<div class="tab-pane mt-6 mb-12" id="version2"> 
        <div class="row">
            <div class="col-12 col-md-10 mx-auto mb-4">
                <h5 class="mb-4">Version 2.0</h5>
                <p>        This page contains four sets of files:</p>
                <ol><li><a href="#documentation">Technical Documentation and Codebooks</a>
                </li><li><a href="#testscore">Test Score Estimates: Means, Standard Deviations, and Achievement Gaps</a>
                </li><li><a href="#covariate">Covariate Data Files</a>
                </li><li><a href="#ancillary">Ancillary Data Files</a>
                </li></ol><p>Errata: The first release of SEDA 2.0 had an error in the pooled gap estimates. The current files incorporate the fix. See the technical documentation for details.<br /><a name="documentation" id="documentation"></a></p>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <table class="table-responsive mb-9">
                <tr><th colspan="2" class="text-center">Technical Documentation and Codebooks</th>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>File Name</strong></td>
                <td class="text-center"><strong>Download</strong></td>
                </tr><tr></tr><tr><td>SEDA_documentation_v20</td>
                <td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/SEDA_documentation_v20b.pdf">PDF</a></td>
                </tr><tr><td>SEDA_codebook_geodist_v20</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_geodist_v20.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_county_v20</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_county_v20.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_cov_geodist_v20</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_cov_geodist_v20.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_crosswalk_v20</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_crosswalk_v20.xlsx">Excel</a></td>
                </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <p>        <a name="testscore" id="testscore"></a></p>
                <table class="table-responsive mb-6">
                    <tr><th colspan="13" class="text-center">Test Score Estimates: Means, Standard Deviations, and    Achievement Gaps</th>
                </tr><tr style="background:#efefef"><td rowspan="3" class="text-center"><strong>File Name</strong></td>
                <td rowspan="3" class="text-center"><strong>Form</strong></td>
                <td rowspan="3" class="text-center"><strong>Metric</strong></td>
                <td colspan="8" class="text-center"><strong>Disaggregated    by</strong></td>
                <td colspan="2" rowspan="3" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>Geographic District</strong></td>
                <td rowspan="2" class="text-center"><strong>County</strong></td>
                <td rowspan="2" class="text-center"><strong>Year</strong></td>
                <td rowspan="2" class="text-center"><strong>Grade</strong></td>
                <td rowspan="2" class="text-center"><strong>Subject</strong></td>
                <td colspan="3" class="text-center"><strong>Group</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>All</strong></td>
                <td class="text-center"><strong>Race</strong></td>
                <td class="text-center"><strong>Race Gaps</strong></td>
                </tr><tr><td>SEDA_geodist_long_CS_v20</td>
                <td>Long</td>
                <td>CS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_GCS_v20</td>
                <td>Long</td>
                <td>GCS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_NAEP_v20</td>
                <td>Long</td>
                <td>NAEP</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_State_v20</td>
                <td>Long</td>
                <td>State</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_poolsub_CS_v20</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_poolsub_GCS_v20</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v20b.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v20b.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_pool_CS_v20</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_pool_GCS_v20</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v20b.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v20b.csv">CSV</a></td>
                </tr><tr style="background:#efefef"><td colspan="11">Download All SEDA V2.0 Geographic District-Level Files</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v20b_dta.zip">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v20b_csv.zip">CSV</a></td>
                </tr><tr><td>SEDA_county_long_CS_v20</td>
                <td>Long</td>
                <td>CS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_GCS_v20</td>
                <td>Long</td>
                <td>GCS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_NAEP_v20</td>
                <td>Long</td>
                <td>NAEP</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_State_v20</td>
                <td>Long</td>
                <td>State</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_poolsub_CS_v20</td>
                <td>Pooled</td>
                <td>CS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_poolsub_GCS_v20</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v20b.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v20b.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_pool_CS_v20</td>
                <td>Pooled</td>
                <td>CS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_pool_GCS_v20</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v20b.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v20b.csv">CSV</a></td>
                </tr><tr style="background:#efefef"><td colspan="11">Download All SEDA V2.0 County-Level Files</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v20b_dta.zip">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v20b_csv.zip">CSV</a></td>
                </tr></table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <p>Metric:  CS = Cohort Scale; GCS = Grade Scale; NAEP = NAEP Scale; State = State-referenced Scale<br />
                Academic Years: 2008/09 – 2014/15<br />
                Grades: 3 – 8<br />
                Subjects:  Math, ELA<br />
                Race: white, black, Hispanic, and Asian<br />
                Race Gaps: white-black, white-Hispanic, white-Asian				</p>
                <p class="mb-6"><a name="covariate" id="covariate"></a></p>


                <table class="table-responsive mb-9"><tr><th colspan="7" class="text-center">Covariate Data</th>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
                <td rowspan="2" class="text-center"><strong>Form</strong></td>
                <td colspan="3" class="text-center"><strong>Disaggregated by</strong></td>
                <td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>District</strong></td>
                <td class="text-center"><strong>Year</strong></td>
                <td class="text-center"><strong>Grade</strong></td>
                </tr><tr><td>SEDA_cov_geodist_long_v20</td>
                <td class="text-center">Long</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_cov_geodist_poolyr_v20</td>
                <td class="text-center">Pooled</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_cov_geodist_pool_v20</td>
                <td class="text-center">Pooled</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v20.csv">CSV</a></td>
                </tr></table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <p><a name="ancillary" id="ancillary"></a></p>
                <table class="table-responsive mb-9"><tr><th colspan="6" class="text-center">Ancillary Data</th>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
                <td colspan="3" class="text-center"><strong>Disaggregated    by</strong></td>
                <td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>School</strong></td>
                <td class="text-center"><strong>District</strong></td>
                <td class="text-center"><strong>Year</strong></td>
                </tr><tr><td>SEDA_crosswalk_v20</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v20.csv">CSV</a></td>
                </tr><tr><td>SEDA_shapefiles_v20</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td colspan="2" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_shapefiles_v20.zip">Zip</a></td>
                </tr></table>
            </div>
        </div>
    </div>
            <!-- tab pane -->  