 <!-- Version 1.1 -->    
 <div class="tab-pane mt-6 mb-12" id="version1-1">        
        <div class="row mx-1">
            <div class="col-12 col-md-10 mx-auto">
                <h5 class="mb-4">Version 1.1</h5>
                <!-- Version 1.1 -->
                <p class="mb-4"><a href="https://cepa.stanford.edu/sites/default/files/SEDA Technical Documentation Version1_1.pdf">Technical Documentation</a></p>
                <table class="table-responsive-md mb-9">
                    <tr><th colspan="10" class="text-center">Assessment Outcomes: Means and Standard    Errors </th>
                </tr><tr><td colspan="4" class="text-center">Data    Description</td>
                <td colspan="3" class="text-center">Disaggregated by</td>
                <td colspan="2" class="text-center">Download</td>
                <td class="text-center">Documentation</td>
                </tr><tr><td class="text-center">File Title</td>
                <td class="text-center">Description</td>
                <td class="text-center">Metric</td>
                <td class="text-center">Geographic Level</td>
                <td class="text-center">Year</td>
                <td class="text-center">Grade</td>
                <td class="text-center">Subject</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                </tr><tr><td width="100">MeanA_V1.1</td>
                <td width="270">This file  contains <strong>district level means in grade equivalent units</strong>. There are multiple observations per district; one for each    year, grade and subject.</td>
                <td>Grade Equivilant Units</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) by year grade subject (long file)_v1_1.csv">CSV</a></td>
                <td rowspan="8" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_achievement_v1point1.xlsx">Codebook</a></td>
                </tr><tr><td>MeanB_V1.1</td>
                <td>This file  contains <strong>district level means in grade equivalent    units</strong>. There are multiple observations per    district, one for each subject; values are averaged across years and grades.</td>
                <td>Grade Equivilant Units </td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year and grade)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanC_V1.1</td>
                <td>This file  contains <strong>district level means in grade equivalent    units</strong>. There is one observations per district;    values are averaged across years, grades and subjects.</td>
                <td>Grade Equivilant Units</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade equivalent std (gs) (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanD_V1.1</td>
                <td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There are multiple    observations per district; one for each year, grade and subject.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) by year grade subject (long file)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanE_V1.1</td>
                <td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There are multiple    observations per district; one for each subject; values are averaged across    years and grades.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year and grade)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanF_V1.1</td>
                <td>This file  contains <strong>district level means in constant population    standard deviation units</strong>. There is one    observations per district; values are averaged across years, grades and    subjects.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means grade-subject std (cs) (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanG_V1.1</td>
                <td>This file  contains <strong>district level means in NAEP-referenced    units</strong>. Estimates are comparable between states.    There are multiple observations per district; one for each year, grade and    subject.</td>
                <td>NAEP </td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means national-referenced by year grade subject (long file)_v1_1.csv">CSV</a></td>
                </tr><tr><td>MeanH_V1.1</td>
                <td>This file  contains <strong>district level means in state-referenced    units</strong>. Estimates are comparable within states.    There are multiple observations per district; one for each year, grade and    subject.</td>
                <td>State Referenced</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district means state-referenced by year grade subject (long file)_v1_1.csv">CSV</a></td>
                </tr></table>
                </div></div>


                <div class="row">
                <div class="col-12 col-md-10 mx-auto mb-9">
                <table class="table-responsive"><tr><th colspan="10" class="text-center">Assessment Outcomes: Achievement Gaps</th>
                </tr><tr><td colspan="4" class="text-center">Data    Description </td>
                <td colspan="3" class="text-center">Disaggregated by</td>
                <td colspan="2" class="text-center">Dowload </td>
                <td class="text-center">Documentation</td>
                </tr><tr><td class="text-center">File Title</td>
                <td class="text-center">Description</td>
                <td class="text-center">Metric</td>
                <td class="text-center">Geographic Level</td>
                <td class="text-center">Year</td>
                <td class="text-center">Grade</td>
                <td class="text-center">Subject</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                </tr><tr><td width="100">GapA_V1.1</td>
                <td width="270">This file  contains <strong>district level white-black and white-Hispanic achievement gaps</strong>. There are multiple observations per district; one for each    year, grade and subject.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps by year grade subject (long file)_v1_1.csv">CSV</a></td>
                <td rowspan="3" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_achievement_v1point1.xlsx">Codebook</a></td>
                </tr><tr><td>GapB_V1.1</td>
                <td>This file  contains <strong>district level white-black and    white-Hispanic achievement gaps</strong>. There are    multiple observations per district; one for each subject; values are averaged    across years and grades.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">x</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district race gaps by subject using metareg_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district race gaps by subject using metareg_v1_1.csv">CSV</a></td>
                </tr><tr><td>GapC_V1.1</td>
                <td>This file  contains <strong>district level white-black and    white-Hispanic achievement gaps</strong>. There is one    observations per district; values are averaged across years, grades and    subjects.</td>
                <td>Standard Deviation Units</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub)_v1_1.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district gaps (pooled year, grade and sub)_v1_1.csv">CSV</a></td>
                </tr></table>
                </div></div>

                <div class="row">
                <div class="col-12 col-md-10 mx-auto mb-9">
                <table class="table-responsive"><tr><th colspan="10" class="text-center">Covariates </th>
                </tr><tr><td colspan="4" class="text-center">Data Description </td>
                <td colspan="3" class="text-center">Disaggregated by</td>
                <td colspan="2" class="text-center">Dowload </td>
                <td class="text-center">Documentation</td>
                </tr><tr><td class="text-center">File Title</td>
                <td class="text-center">Description</td>
                <td class="text-center">Metric </td>
                <td class="text-center">Geographic Level</td>
                <td class="text-center">Year</td>
                <td class="text-center">Grade</td>
                <td class="text-center">Subject</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                </tr><tr><td width="100">CovA_V1.1</td>
                <td width="270">This file  contains <strong>district level covariates (socioeconomic, demographic, school    level data)</strong>. There are multiple observations per    district; one for each year and grade.</td>
                <td class="text-center">-</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center">x</td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year by grade covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year by grade covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
                <td rowspan="3" class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/codebook_covariates_v1_v_update.xlsx">Codebook</a></td>
                </tr><tr><td>CovB_V1.1</td>
                <td>This file  contains <strong>district level covariates (socioeconomic,    demographic, school level data)</strong>. There are    multiple observations per district; one for each year.</td>
                <td class="text-center">-</td>
                <td>District</td>
                <td class="text-center">x</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district by year covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
                </tr><tr><td>CovC_V1.1</td>
                <td>This file  contains <strong>district level covariates (socioeconomic,    demographic, school level data)</strong>. There is one    observation per district.</td>
                <td class="text-center">-</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates from acs and ccd master_v1_v_update.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/district covariates from acs and ccd master_v1_v_update.csv">CSV</a></td>
                </tr></table>
                </div></div>

                <div class="row">
                <div class="col-12 col-md-10 mx-auto mb-9">
                <table class="table-responsive"><tr><th colspan="10" class="text-center">Ancillary Files</th>
                </tr><tr><td colspan="4" class="text-center">Data Description</td>
                <td colspan="3" class="text-center">Disaggregated by</td>
                <td colspan="2" class="text-center">Dowload </td>
                <td class="text-center">Documentation</td>
                </tr><tr><td class="text-center">File Title</td>
                <td class="text-center">Description</td>
                <td class="text-center">Metric</td>
                <td class="text-center">Geographic Level</td>
                <td class="text-center">Year</td>
                <td class="text-center">Grade</td>
                <td class="text-center">Subject</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                </tr><tr><td width="100">AncillaryA_V1.1</td>
                <td width="270">This file  contains <strong>a unique school identifier, an identifier indicating its NCES    ID (the district to which it legally belongs), and the district in which it    is included in our estimates</strong>. There is one    observation per school.</td>
                <td class="text-center">-</td>
                <td>District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.dta">Stata</a></td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv">CSV</a></td>
                <td class="text-center"> </td>
                </tr><tr><td>AncillaryB_V1.1</td>
                <td>This file contains the <strong>shape file</strong> that corresponds to the    district crosswalk. </td>
                <td class="text-center">-</td>
                <td>National</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/shape file.zip">File</a></td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                </tr></table>
            </div>
        </div>
    </div>