<div class="tab-pane mt-6" id="version2-1">
        <div class="row mb-8">
                <div class="col-12 col-md-4 offset-md-2 mt-6">
                    <p>
                            The Stanford Education Data Archive (SEDA) includes a number of publicly available data files, the technical documentation and data codebooks, listed on the following page. Data files are available in Stata (v13) and .csv formats.
                    </p>
                    <p>   
                            In publications, please cite the data as:
                            Sean F. Reardon, Andrew D. Ho., Benjamin R. Shear, Erin M. Fahle, Demetra Kalogrides, & Richard DiSalvo. (2018). Stanford Education Data Archive (Version 2.1). <a href="http://purl.stanford.edu/db586ns4974">http://purl.stanford.edu/db586ns4974</a>.
                    </p>
                    <p>        
                            If you have questions or note errors in the data, please contact us at <a href="mailto:sedasupport@stanford.edu">sedasupport@stanford.edu</a>
                    </p>
                </div>    
                    <div class="p-4 blue-bg mt-4 col-12 col-md-4">
                        <h3 class="mb-2">Notes</h3> 
                        <p>       
                                The currently available data include district and county level average achievement (for all students and by race/ethnicity and gender), district and county level racial/ethnic and gender achievement gaps, and district level demographic/socioeconomic data. The most recent release (currently, Version 3.0) should always be used for reporting and analysis. Previous versions of the data are still available to facilitate research replication. Please review the technical documentation and codebooks that accompany the data sets. These documents review the data construction process and describes the contents of each file.
                        </p>
                    </div>    
                </div>
            
        <div class="row alt-bg mx-0 px-2 py-8">
          
            <div class="col-12 col-md-8 mx-auto mb-4">
                <h5 class="mb-4">Version 2.1</h5>
                <p>        This page contains five sets of files:</p>
                <ol><li><a href="#documentation-2-1">Technical Documentation and Codebooks</a>
                </li><li><a href="#ny-2-1">Data Files Used in News Articles</a>
                </li><li><a href="#testscore-2-1">Test Score Estimates: Means, Standard Deviations, and Achievement Gaps</a>
                </li><li><a href="#covariate-2-1">Covariate Data Files</a>
                </li><li><a href="#ancillary-2-1">Ancillary Data Files</a>
                </li></ol><p class="mb-6"><a name="documentation-2-1" id="documentation-2-1"></a></p>

                <table class="table-responsive"><tr><th colspan="2" class="text-center">Technical Documentation and Codebooks</th>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>File Name</strong></td>
                <td class="text-center"><strong>Download</strong></td>
                </tr><tr></tr><tr><td>SEDA_documentation_v21</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_documentation_v21.pdf">PDF</a></td>
                </tr><tr><td>SEDA_codebook_geodist_v21</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_geodist_v21.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_county_v21</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_county_v21.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_cov_geodist_v21</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_cov_geodist_v21.xlsx">Excel</a></td>
                </tr><tr><td>SEDA_codebook_crosswalk_v21</td>
                <td class="text-center"><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_codebook_crosswalk_v21.xlsx">Excel</a></td>
                </tr></table><p> <a name="ny-2-1" id="ny-2-1"></a></p>
            </div>
        </div>

        <div class="row my-8">
            <div class="col-12 col-md-10 mx-auto">
                <table class="table-responsive"><tr><th colspan="4" class="text-center">Data Files Used in News Articles</th>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>Article and Date</strong></td>
                <td class="text-center"><strong>Paper</strong></td>
                <td class="text-center" colspan="2"><strong>Data</strong></td>
                </tr><tr><td><a href="https://www.nytimes.com/interactive/2018/06/13/upshot/boys-girls-math-reading-tests.html">Where Boys Outperform Girls in Math:<br />
                Rich, White and Suburban Districts</a>. <em>New York Times</em>. 6/13/2018</td>
                <td><a href="/content/gender-achievement-gaps-us-school-districts">Gender Achievement Gaps in U.S. School Districts</a>. Reardon, S.F., Fahle, E.M., Kalogrides, D., Podolsky, A., &amp; Zárate, R.C. (2018)</td>
                <td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/reardon_gender_achievement_gaps_june2018.xlsx">Excel*</a></td>
                <td class="text-center"><a href="https://cepa.stanford.edu/sites/default/files/reardon_gender_achievement_gaps_june2018.dta">Data</a></td>
                </tr><tr><td colspan="4">*Notes about the data are included in the Excel spreadsheet.</td>
                </tr></table>
            </div>
        </div>

        <div class="row alt-bg mx-0 px-2 py-8">
            <div class="col-12 col-md-10 mx-auto">
                <p>        <a name="testscore-2-1" id="testscore-2-1"></a></p>

                <table class="table-responsive"><tr><th colspan="14" class="text-center">Test Score Estimates: Means, Standard Deviations, and    Achievement Gaps</th>
                </tr><tr style="background:#efefef"><td rowspan="3" class="text-center"><strong>File Name</strong></td>
                <td rowspan="3" class="text-center"><strong>Form</strong></td>
                <td rowspan="3" class="text-center"><strong>Metric</strong></td>
                <td colspan="9" class="text-center"><strong>Disaggregated    by</strong></td>
                <td colspan="2" rowspan="3" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>Unit</strong></td>
                <td rowspan="2" class="text-center"><strong>Year</strong></td>
                <td rowspan="2" class="text-center"><strong>Grade</strong></td>
                <td rowspan="2" class="text-center"><strong>Subject</strong></td>
                <td colspan="3" class="text-center"><strong>Means &amp; SDs</strong></td>
                <td colspan="2" class="text-center"><strong>Gaps</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>All</strong></td>
                <td class="text-center"><strong>Race</strong></td>
                <td class="text-center"><strong>Gender</strong></td>
                <td class="text-center"><strong>Race</strong></td>
                <td class="text-center"><strong>Gender</strong></td>
                </tr><tr><td>SEDA_geodist_long_CS_v21</td>
                <td>Long</td>
                <td>CS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_GCS_v21</td>
                <td>Long</td>
                <td>GCS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_GCS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_NAEP_v21</td>
                <td>Long</td>
                <td>NAEP</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_NAEP_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_long_State_v21</td>
                <td>Long</td>
                <td>State</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_long_State_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_poolsub_CS_v21</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_poolsub_GCS_v21</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_poolsub_GCS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_pool_CS_v21</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_geodist_pool_GCS_v21</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">Geographic District</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_pool_GCS_v21.csv">CSV</a></td>
                </tr><tr style="background:#efefef"><td colspan="12">Download All SEDA V2.1 Geographic District Files</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v21_dta.zip">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_geodist_v21_csv.zip">CSV</a></td>
                </tr><tr><td>SEDA_county_long_CS_v21</td>
                <td>Long</td>
                <td>CS</td>
                <td class="text-center">County</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_GCS_v21</td>
                <td>Long</td>
                <td>GCS</td>
                <td class="text-center">County</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_GCS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_NAEP_v21</td>
                <td>Long</td>
                <td>NAEP</td>
                <td class="text-center">County</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_NAEP_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_long_State_v21</td>
                <td>Long</td>
                <td>State</td>
                <td class="text-center">County</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_long_State_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_poolsub_CS_v21</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">County</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_poolsub_GCS_v21</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">County</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_poolsub_GCS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_pool_CS_v21</td>
                <td>Pooled</td>
                <td>CS</td>
                <td class="text-center">County</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_CS_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_county_pool_GCS_v21</td>
                <td>Pooled</td>
                <td>GCS</td>
                <td class="text-center">County</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_pool_GCS_v21.csv">CSV</a></td>
                </tr><tr style="background:#efefef"><td colspan="12">Download All SEDA V2.1 County Files</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v21_dta.zip">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_county_v21_csv.zip">CSV</a></td>
                </tr></table>

                <p class="mt-4">Metric:  CS = Cohort Scale; GCS = Grade Scale; NAEP = NAEP Scale; State = State-referenced Scale<br />
                    Academic Years: 2008/09 – 2014/15<br />
                    Grades: 3 – 8<br />
                    Subjects:  Math, ELA<br />
                    Race: white, black, Hispanic, and Asian<br />
                    Race Gaps: white-black, white-Hispanic, white-Asian<br />
                    Gender: male, female<br />
                    Gender Gaps: male-female</p>

            </div>
        </div>

        <div class="row py-8">
            <div class="col-12 col-md-10 mx-auto">
                
                <p class="mb-6"><a name="covariate-2-1" id="covariate-2-1"></a></p>

                <table class="table-responsive"><tr><th colspan="7" class="text-center">Covariate Data</th>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
                <td rowspan="2" class="text-center"><strong>Form</strong></td>
                <td colspan="3" class="text-center"><strong>Disaggregated by</strong></td>
                <td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>District</strong></td>
                <td class="text-center"><strong>Year</strong></td>
                <td class="text-center"><strong>Grade</strong></td>
                </tr><tr><td>SEDA_cov_geodist_long_v21</td>
                <td class="text-center">Long</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_long_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_cov_geodist_poolyr_v21</td>
                <td class="text-center">Pooled</td>
                <td class="text-center">X</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_poolyr_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_cov_geodist_pool_v21</td>
                <td class="text-center">Pooled</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center"> </td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_cov_geodist_pool_v21.csv">CSV</a></td>
                </tr></table><p><a name="ancillary-2-1" id="ancillary-2-1"></a></p>
            </div>
        </div>

        <div class="row alt-bg mx-0 px-2 py-8">
            <div class="col-12 col-md-10 mx-auto">
                <table class="table-responsive mb-9"><tr><th colspan="6" class="text-center">Ancillary Data</th>
                </tr><tr style="background:#efefef"><td rowspan="2" class="text-center"><strong>File Name</strong></td>
                <td colspan="3" class="text-center"><strong>Disaggregated    by</strong></td>
                <td colspan="2" rowspan="2" class="text-center"><strong>Download</strong></td>
                </tr><tr style="background:#efefef"><td class="text-center"><strong>School</strong></td>
                <td class="text-center"><strong>District</strong></td>
                <td class="text-center"><strong>Year</strong></td>
                </tr><tr><td>SEDA_crosswalk_v21</td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v21.dta">Stata</a></td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_crosswalk_v21.csv">CSV</a></td>
                </tr><tr><td>SEDA_shapefiles_v20</td>
                <td class="text-center"> </td>
                <td class="text-center">X</td>
                <td class="text-center"> </td>
                <td><a href="https://stacks.stanford.edu/file/druid:db586ns4974/SEDA_shapefiles_v20.zip">ZIP</a></td>
                <td></td>
                </tr></table>
            </div>
        </div>
  


    </div><!-- end tab pane--> 